[2018-09-13 14:27] kirfalk opened #12 "no icon for Azure Code Samples entity in Find Actions dialog"
Rider 2018.2.3 RTM #182.4231.496
Azure plugin : 3.11.0
Invoke Ctrl-Shift-A (Cmd-Shift-A) for Find Action popup. Type 'pl'
![no_icon_azurepl](https://user-images.githubusercontent.com/5609871/45494652-32bde900-b77a-11e8-9b9a-8f32012eacfd.png)

[2018-09-13 14:29] kirfalk opened #13 "performance impact on Rider's welcome screen if I have Azure plugin installed into Rider"
Rider 2018.2.3 RTM #182.4231.496
Azure plugin : 3.11.0
simply install Azure plugin and start Rider. You can't select any recent projects immediately.
Deactivation / Uninstall helps me

[2018-09-13 14:30] kirfalk opened #14 "java.lang.NullPointerException on hitting Refresh button in Azure Select Subscription dialog"
in some cases, Rider can silently crash on a desktop without any exceptions in logs. Win10.
Rider 2018.2.3 RTM #182.4231.496
Azure plugin : 3.11.0

java.lang.NullPointerException
at javafx.embed.swing.JFXPanel.getInputMethodRequests(JFXPanel.java:810)
at sun.awt.im.InputMethodAdapter.haveActiveClient(InputMethodAdapter.java:61)
at sun.awt.windows.WInputMethod.deactivate(WInputMethod.java:340)
at s

[2018-09-13 14:49] kirfalk opened #15 "`java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread."
Rider 2018.2.3 RTM 182.4231.496
Azure pluing : 3.11.0

Repro :
- create a simple WebApp .netcore
- start to Publish it to Azure
- stop Publishing process

`java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
	at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:59)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.uti

[2018-09-14 07:10] kirfalk opened #16 "`com.microsoft.azure.CloudException: Status code 401, {"error":{"code":"InvalidAuthenticationTokenAudience","message":"The access token has been obtained for wrong audience or resource 'https://datalake.azure.net/'. It should exactly match with one of the allowed audiences"
`com.microsoft.azure.CloudException: Status code 401, {"error":{"code":"InvalidAuthenticationTokenAudience","message":"The access token has been obtained for wrong audience or resource 'https://datalake.azure.net/'. It should exactly match with one of the allowed audiences 'https://management.core.windows.net/','https://management.core.windows.net','https://management.azure.com/','https://manageme

[2018-09-18 18:56] sdubov commented on #12
There are two missing icons: "Azure Code Samples" and "Azure". Fixed in ff3b24ef7ecc0e501acf3450736c258ae94adc71

[2018-09-18 19:02] sdubov commented on #12
Fixed in ff3b24ef7ecc0e501acf3450736c258ae94adc71

[2018-09-18 19:02] #12 closed

[2018-09-19 12:00] sdubov commented on #13
Fixed in 4949fa74c741bf92077659df1b34f44100b06812

[2018-09-19 12:00] #13 closed

[2018-09-25 11:25] sdubov opened #35 "Add SQL Database into Azure Explorer"
We have a support for creating SQL Database while publishing Web App. It would be great to see all available SQL Databases on Azure in Azure Explorer to manage and create SQL instances.

Scope:
- Add SQL Database node to Azure Explorer
- Add context options to Create, Delete, View (?) Database
- Add context option to link database with existing Web App (TDB: or add this option to the Web App insta

[2018-09-25 11:30] sdubov opened #36 "Show web app publishing progress"
When we publish a web app on Azurem it would be great to show a publishing progress (indicator or some log information - e.g. amount of Kb published to azure) to make if more user friendly.

[2018-09-25 11:32] sdubov opened #37 "Add validation for Web App existence when typing the web app name"
We should add some web app existence lookup to make sure user will not create web app with a name that already exists.

Note: Azure SDK does not allow to do it right now. We might look into a way to make a simple nslookup to check if URL exists or not.

[2018-09-25 11:54] sdubov opened #38 "Show user email/name next to the subscription name"
We need to add an Azure account name/email next to the subscription name that is shown up in the Azure Explorer (and in the web app deploy Subscription combobox (?))

[2018-09-25 11:56] sdubov opened #39 "Update the logic that generates a random names for web apps and other Azure resources"
Currently, we generate a web app name, resource group name, app service plan name, sql server, sql database name based on timestamp (epoch). We should better use some other approach for name generation, e.g. get random to words from a dictionary and combine them into a word (take a look on other cloud services)

[2018-09-25 11:58] sdubov opened #40 "F1 button should navigate to an existing plugin web app description page"
We need to make two things in scope of this ticker:
- Create a page with description
- Add `getHelpId()` handler for a `RiderWebAppSettingPanel.kt`

[2018-09-25 12:00] sdubov opened #41 "Run configuration name should be more specific"
Currently, when we create a run configuration for publishing web app, it is created with a default name - `Unnamed`. We should rather use more specific name, e.g. "Azure Publish to Web App" (TDB)

[2018-09-25 12:02] sdubov opened #42 "Add notification to publish tool window that we finish publishing web app to Azure"
We need to add a notification to a tool window that web app publishing is completed (similar to the build notification)

[2018-09-25 12:06] sdubov opened #43 "Update logic to get target framework from publishable project"
We need to make an updates in the code to get the information about the target framework from publishable project rather then mapping to the other models. This ticker is blocked by RIDER-19915.

[2018-09-25 12:10] sdubov opened #44 "The name should be defaulted in the "SaveAs" dialog When saving a file from Azure storage"

[2018-09-25 12:12] sdubov opened #45 "Azure Activity log should contain information about Azure activity"
Currently, Azure activity log tool window contains nothing. We should use this mechanism and enable logging into the monitor some important activity actions.

TODO: Investigate

[2018-09-25 12:15] sdubov opened #46 "[Azure Explorer] Add "Create web app" functionality to Web Apps module context menu"
It would be great to have a "Create web app" action in the Azure Explorer > Web Apps context menu.

*TBD*: It might be a short version for the run configuration (with no option to publish an SQL database and simply make a new web app)

[2018-09-25 13:30] maartenba opened #48 "Deploy to Docker host should not mention .jar/.war"
From context menu on Docker hosts:

![image](https://user-images.githubusercontent.com/485230/46017471-df338f80-c0d7-11e8-9ce6-f8907cb76078.png)

Should only be available in IntelliJ plugin (not Rider)

[2018-09-27 07:12] sdubov commented on #42
Add logic that show a notification about publish succeeded/failed. Fixed in 4101e1a7f8711187a63298c1c59d6cdd4da6f407

[2018-09-27 07:12] #42 closed

[2018-09-27 12:35] sdubov opened #55 "Add support for publishing .Net Framework web apps on MacOS and Linux"
Currently, we support publishing the .Net Core web apps on all platforms and .Net web apps on Windows only. We need to add support for publishing .Net Web apps on Mac and Linux.

Note: We are blocked by `msdeploy` support in Rider.

[2018-09-28 09:06] sdubov opened #57 "Re-write UI form to MigLayout"
Currently, we use Java forms for layout. Based on discussion we rather need to switch to MigLayout.

[2018-09-28 14:17] IvanPashchenko opened #58 "Allow to sign in into Azure account from publish page"
![inkedrider64_2018-09-28_17-16-02_li](https://user-images.githubusercontent.com/8605238/46213856-553b2f00-c342-11e8-91e1-9ef44bb3f4d5.jpg)

[2018-10-02 18:23] sdubov opened #61 "Resolve confusing message from build notification while publishing Web App"
Right now we have a notification from Build tool window about MSBuild task execution results. That message looks a bit confusing while we publish web app. We should whether reword the notification or hide the tooltip while calling the msbuild task.
![image](https://user-images.githubusercontent.com/6064345/46368667-79bc4180-c689-11e8-8a61-9c224b259bf1.png)

[2018-10-17 09:00] maartenba opened #72 "Add slots for web app and functions deploy/preview"
From https://blog.jetbrains.com/dotnet/2018/10/16/deploy-web-apps-explore-resources-introducing-azure-toolkit-rider/#comment-530620

We can now already explore slots, deploy should be added as well

[2018-10-17 09:01] maartenba opened #73 "Explore this web app (and then offer to connect via FTP)"
From https://blog.jetbrains.com/dotnet/2018/10/16/deploy-web-apps-explore-resources-introducing-azure-toolkit-rider/#comment-530620

[2018-10-17 10:39] maartenba commented on #44
Fixed with #71

[2018-10-17 19:18] waterfoul opened #74 "Not compatible with rider 2018.3 EAP"
This plugin is not installable in the latest EAP

[2018-10-20 10:37] #44 closed

[2018-10-20 10:43] sdubov commented on #43
[RIDER-19915](https://youtrack.jetbrains.com/issue/RIDER-19915) is fixed.

[2018-10-20 16:01] sdubov opened #75 "Use API calls to check if targets for publishing .net web apps on Windows exists"
Currently we have some logic that check for targets in csproj file when publishing .net project on Windows. We need to replace this logic to make more intelligent API calls to backend to make sure targets are present. Blocked by [RIDER-18500](https://youtrack.jetbrains.com/issue/RIDER-18500).

[2018-10-20 16:01] sdubov commented on #75
[RIDER-18500](https://youtrack.jetbrains.com/issue/RIDER-18500) is fixed.

[2018-10-21 19:20] sdubov commented on #61
Fixed and implemented the following behavior:
- When msbuild task is succeeded - switch to run tool window, do not show msbuild task tooltip, show Azure publish tooltip after publishing is finished
<img width="901" alt="success" src="https://user-images.githubusercontent.com/6064345/47271234-74af2b80-d57f-11e8-88a7-ce370d778096.png">

- When msbuild task is failed - stay on the build tool window,

[2018-10-21 19:20] #61 closed, assigned to sdubov

[2018-10-22 08:08] sdubov commented on #74
@waterfoul, we plan to make a plugin build for Rider 2018.3 EAP near RC build.

[2018-10-22 08:23] sdubov opened #78 "Add support for Azure functions"
We need to provide support for Azure functions:
- Azure Explorer
  - Functions: Create new function apps in Azure explorer #87
  - ✅ Functions: list function apps in Azure explorer #86
  - ✅ Functions: Start, stop, restart the function app #88
  - ✅ Functions: View and edit function app settings #89
  - ✅ Functions: Deploy #150
- Local development
  - ✅ Functions: Development: Project templates #1

[2018-10-22 10:46] maartenba commented on #78
And publish (similar to web apps probably)

For debugging, check https://twitter.com/tonesattwood/status/984611950066675712 - original issue: https://youtrack.jetbrains.com/issue/RIDER-11628

Also check Azure Functions core tools - creating new project and functions from command line: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local

[2018-10-22 15:22] maartenba opened #79 "Support Azure Cloud Services project type"
Original issue: https://youtrack.jetbrains.com/issue/RIDER-1256

Should be able to open .csproj, and to build/publish/pack (standard MBuild targets for Cloud Services projects)

[2018-10-22 15:22] maartenba opened #80 "Docker: Deploy to Docker host"
Support deploying to Docker host. See `DeployDockerContainerAction` for Java version of it.

[2018-10-22 15:22] maartenba opened #81 "Docker: Connect to Docker host"
Support connecting to Docker host in Azure Explorer using Rider's Docker tool window

[2018-10-23 05:35] maartenba opened #83 "Web apps: display/edit connection strings"
Similar to how application settings can be edited, it should be possible to edit connection strings in a web app/web app slot properties.

[2018-10-23 05:35] maartenba opened #84 "Web apps: view log stream"
Connect to log stream and show in Rider. https://azure.microsoft.com/en-us/resources/videos/log-streaming-with-azure-web-sites/

[2018-10-23 05:35] maartenba opened #85 "Web apps: remote debugging"
Will need Rider's remote debugger, then investigate feasibility.

[2018-10-23 05:36] maartenba opened #86 "Functions: list function apps in Azure explorer"
Similar to web apps

[2018-10-23 05:36] maartenba opened #87 "Functions: Create new function apps in Azure explorer"
Similar to web apps

[2018-10-23 05:36] maartenba opened #88 "Functions: Start, stop, restart the function app"
Similar to web apps

[2018-10-23 05:36] maartenba opened #89 "Functions: View and edit function app settings"
Similar to web apps

[2018-10-23 05:36] maartenba opened #90 "Functions: view log stream"
Similar to web apps. Connect to log stream and show in Rider. https://azure.microsoft.com/en-us/resources/videos/log-streaming-with-azure-web-sites/

[2018-10-23 05:36] maartenba opened #91 "Functions: JSON code completion for function.json, host.json, and proxies.json"
Schema's should be in schemastore.org already, according to docs - https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json

[2018-10-23 05:36] maartenba opened #92 "Functions: Support .csx/.fsx functions"
Nice to have.

[2018-10-23 05:36] maartenba opened #93 "CosmosDB: List in Azure explorer"

[2018-10-23 05:36] maartenba opened #94 "CosmosDB: Create/Delete databases, collections, graphs and documents in a database"

[2018-10-23 05:36] maartenba opened #95 "CosmosDB: Connect to CosmosDB using e.g. Mongo"

[2018-10-23 05:36] maartenba opened #96 "Storage: show tables/queues nodes in Azure Explorer"

[2018-10-23 05:36] maartenba opened #97 "Storage: Explore/Create/Delete File Shares"

[2018-10-23 05:36] maartenba opened #98 "ARM / Resource Manager: editing/code completion/syntax highlighting/..."
Example: https://marketplace.visualstudio.com/items?itemName=msazurermtools.azurerm-vscode-tools

[2018-10-23 05:36] maartenba opened #99 "Azure SQL Database: connect to database tools"
Open a database connection from Azure Explorer in database tools

[2018-10-23 05:36] maartenba opened #100 "Application Insights: List/create/delete in Azure Explorer"

[2018-10-23 05:36] maartenba opened #101 "Key Vault: List/create/delete in Azure Explorer"

[2018-10-23 05:41] maartenba commented on #91
Seems this already works, yay SchemaStore.org!

![image](https://user-images.githubusercontent.com/485230/47338114-01004200-d697-11e8-83b8-3eb17641c79f.png)

[2018-10-23 05:47] maartenba commented on #78
For runningV2 functions (on Windows):

![image](https://user-images.githubusercontent.com/485230/47338433-22adf900-d698-11e8-9bcd-bdd2751ff5c3.png)

Executable: `C:\Users\maart\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin\func.exe`
Arguments: `host start --port 7071 --pause-on-error`
Working directory: `project folder\bin\Debug\netstandard2.0`

Environment:
`AZURE_FUNCTIONS_ENVI

[2018-10-25 07:01] maartenba opened #102 "Cloud Shell: Support "url" backchannel message"
Example when running https://twitter.com/yangl900/status/1054836068007084032

`az aks browse`

[2018-10-25 07:26] maartenba commented on #102
Implemented in #103

![url-command](https://user-images.githubusercontent.com/485230/47482857-05179580-d838-11e8-8d03-9816ee920863.gif)

[2018-10-25 18:34] sdubov opened #104 "Allow to run EF migration for published web app with database"
Currently, we allow to create a SQL database and link it to a web app while publishing a web app. It would be great if we provide an ability to enable Entity Framework migration to update database in case of any changes.

[2018-11-15 12:51] #102 closed, assigned to nobody

[2018-11-15 12:52] #99 closed, assigned to nobody

[2018-11-16 08:08] maartenba commented on #78
Did some additional research, here is how the debugger can be attached in Rider 2018.3 (https://www.jetbrains.com/rider/eap):

* Install the `func` command line tools using NPM (https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local)
* Add a file `Properties/launchSettings.json`, with the following contents (tailored to your project):

[code]

* Run the launch profile, and wait

[2018-11-20 16:30] sdubov opened #113 "Update icons in AzureExplorer for OS specific WebApp and Deployment Slots"
Currently we use same icons for running/stopped Web Apps and Deployment Slots for Windows and Linux systems. We need to separate OS (windows/linux) via icons together with state (running/stopped).

To summarize in scope fo this issue we need to have separate icons:
- WindowsWebAppRunning.svg
- WindowsWebAppStopped.svg
- LinuxWebAppRunning.svg
- LinuxWebAppStopped.svg
- WindowsSlotRunning.svg
- Win

[2018-11-20 17:59] sdubov opened #114 "Connect to DB: add firewall rule to access the db automatically"
In order to connect to the database via Rider Azure plugin, we need to go on Azure portal to enable access to the database through firewall rules. We could do it automatically and update firewall rules when we trying to connect. We should prompt a user if he wants to do that and set the firewall access for a local IP when confirmed.

[2018-11-26 13:29] sdubov opened #118 "Update text font in Azure Explorer to match Solution Explorer behavior"
Currently, we show all processing actions in Azure Explorer (`Refreshing...`) with same font as a node text. We would rather need to change the text font to gray italic, like it is done in Rider Solution Explorer (e.g. when unloading/reloading projects).

[2018-12-03 14:32] #114 closed, assigned to maartenba

[2018-12-05 12:58] maartenba opened #120 "Storage: support adding external storage account/emulator"

[2018-12-06 20:25] skotl commented on #78
Fantastic - thanks, @maartenba! I didn't know about launch profiles, but your post along with https://blog.jetbrains.com/dotnet/2018/11/08/using-net-core-launchsettings-json-rundebug-apps-rider/ got me up and running 😃
One other thing that took me a few minutes to figure out is to click on the Run tab once the debugger is running so that you can CTRL-C func.exe from there.
It's not seamless, but i

[2018-12-07 12:32] sdubov opened #122 "Azure web app should be stopped after we prepare a package for deployment"
Currently, we stop an app as one of beginning step when we deploy an Azure web app. Then we start a logic that prepare a package with a web app that should be deployed to Azure. The step that prepare a package can take a while and the app will be stopped all that time.

We should rather think about rearranging steps to stop the app when the package is prepared and then perform stop and deploy.

[2018-12-07 13:04] sdubov opened #123 "Azure Activity log should display events duration"
We can add events duration for Azure Activity Log to get more detailed information about Azure events.

[2018-12-07 13:20] sdubov opened #124 ""Web app publishing" run window should contain timestamps and duration"
When we publish a web app via run configuration we show "run" tool window that we populate with output about deploying stages. We can add timestamps for any output and duration (?) for every step.

[2018-12-11 15:52] maartenba commented on #48
Merged with #82

[2018-12-11 15:53] #48 closed

[2018-12-11 15:53] maartenba commented on #74
Plugin is available for 2018.3 now.
https://blog.jetbrains.com/dotnet/2018/12/03/work-databases-azure-cloud-shell-azure-toolkit-rider-2018-3-eap/

[2018-12-11 15:53] #74 closed, assigned to sdubov

[2018-12-12 20:41] sdubov opened #127 "Exception trying to sign in to Azure account "java.lang.NoClassDefFoundError: com/intellij/openapi/actionSystem/DataKeys""
Reference: https://youtrack.jetbrains.com/issue/DEXP-434270

The issue is caused by updated Rider SDK.

[2018-12-12 20:42] sdubov commented on #127
The issue is fixed by https://github.com/JetBrains/azure-tools-for-intellij/pull/125

[2018-12-12 20:42] #127 closed, assigned to maartenba

[2018-12-19 14:28] iamim opened #129 "CORS settings are not parsed from Web.config"
Hi all,

My web app has the following config in its `Web.config` to allow CORS:
[code]

Settings work as expected when publishing with Visual Studio. However, if deployed with the plugin, requests lack CORS header.

Rider version: Rider versions between 2018.2-2018.3.
.NET version: ASP.NET 4.7

[2018-12-19 15:44] ForNeVeR opened #130 ""Publishing .NET applications on Windows 10 is not yet supported""
Today a user contacted me and told that he was getting the error message "Publishing .NET applications on Windows 10 is not yet supported". That was surprising at least.

What happened actually was that he had selected a non-web project in the run configuration editor. We should improve the error message:

- show project type name if we cannot publish the project due to project type, e.g. "Publish

[2018-12-19 15:46] ForNeVeR opened #131 "Select first publishable project for new configuration"
When creating a new publish configuration, we could automatically select a first publishable project. Currently, user has to select a proper project manually, because we just select the first project from the solution.

[2018-12-19 15:49] ForNeVeR opened #132 "[Discussion] Move project selector to the top at the configuration window"
Today user contacted me and told that he couldn't set up a project for publishing. And he attached a screenshot like that:

![image](https://user-images.githubusercontent.com/92793/50230857-8ca7fd80-03be-11e9-8941-3cdd56f77965.png)

For some reason, it was unobvious for the user that we have scrolling in the window, and that he has to scroll the settings to get to the project list.

Could we move

[2018-12-19 16:49] maartenba commented on #129
Do you happen to have a Web.Release.config as well?

[2018-12-19 18:42] sdubov commented on #132
I think we could reduce the table height to make sure project combo box is visible. We need to play a bit with controls placement and select the right one. Will take a look.

[2018-12-20 09:20] iamim commented on #129
Yes. Here's its contents (excluding comments)"
[code]

[2018-12-21 11:33] maartenba commented on #129
Just tried to reproduce this issue, and got everything working:
* ASP.NET MVC app on .NET 4.7.2 (no .NET Core)
* Publish with the section of `Web.config` that sets CORS headers on `location="data"`

Response to a request to `/data/foo.html`: (`Access-Control-Allow-Origin: *` is visible here)

[code]

@iamim  Could you try to create a small repro or provide addtional steps on how we can reproduce t

[2018-12-21 13:41] sdubov opened #133 "[Azure Explorer] Deleting SQL Server does not delete the SQL Server instance"
Calling Delete action for SQL Server in Azure explorer does not delete the SQL Server instance (it removes only node leaf).

**Steps to reproduce:**
1. Login to Azure account
2. Make sure there are some SQL Servers under "Databases" node in Azure Explorer
3. Right click any SQL Server and select "Delete"

**Expected:** SQL Server instance is deleted from Azure and is not visible in the Azure Explo

[2018-12-21 14:40] sdubov commented on #35
SQL Database is added to Azure Explorer with basic actions (Delete/Browser/Connect) in 422098928f9d2d4ea63c1dc2174918043191c722. All additional functionality will be added under separate tickers.

[2018-12-21 14:40] #35 closed

[2018-12-21 14:41] sdubov opened #134 "[Azure Explorer] Add ability to create SQL Server via Azure Explorer"
We should provide an ability to create a SQL Server through context menu for "Databases" node in Azure Explorer.

[2018-12-21 14:42] sdubov opened #135 "[Azure Explorer] Add ability to create SQL Database via Azure Explorer"
We should provide an ability to create a SQL Database through context menu for "Databases" > "SQL Server" node in Azure Explorer.

[2018-12-21 15:00] maartenba commented on #78
Note to self: https://youtrack.jetbrains.com/issue/DEXP-434058

[2018-12-22 06:25] ForNeVeR opened #137 "Support multiple accounts"
One user complains about single account support in Azure. Consider that user may want to publish their project to multiple different accounts with different publish configurations.

[2018-12-27 20:48] sdubov opened #138 "Add link to generate SQL Server password"
There is an enhancement idea from @maartenba to have a link next to the SQL Server Password field when you create a new SQL Server to generate a random password that match Azure SQL Server password requirements.

[2018-12-27 20:50] sdubov commented on #138
There are several notes to think about when this will be implemented:
- Password should match Azure SQL Server requirements
- If we generate it for a password field and we pass it to Password field - we will mask the password. So, user will not be able to see it. Maybe we should do it in a separate dialog (?)
- If we copy to clipboard - we should notify user with popup that we copy newly generated

[2018-12-28 11:30] sdubov opened #139 "[Publish] Database Edition value has no effect"
**Steps to reproduce:**
1. Open Web app publish run configuration/dialog
2. Check "Enable Database connection" checkbox
3. Select to create a new database
4. Choose a Database edition and set it to e.g. "Premium"
5. Publish a web app

**Expected:** a new database is create with Premium pricing tier.
**Actual:** a new database is created with Standard: S0 pricing tier.

[2018-12-28 11:51] sdubov commented on #139
I think we should remove pricing tier from SQL Database configuration when we publish a web app. The main point for web app publishing is web app config. Since we provide a link for a created database when we publish a web app, we could drop SQL Database pricing configuration and create it with default **standard** plan and leave the further configuration it up to user for now.

[2018-12-28 11:52] sdubov commented on #139
/cc @maartenba

[2018-12-28 12:09] sdubov opened #140 "[Azure Explorer] Deleting SQL Server action should not hang IDE"
**Steps to reproduce:**
1. Open Azure Explorer > SQL Databases
2. Delete any SQL Server node

**Expected:** SQL Server delete action should be executed in background with no hangs.
**Actual:** Rider hangs for a moment after SQL Server is deleted.

[2019-01-05 01:38] DavidZizu opened #141 "Publish web app to Azure using a publish profile"
I would be really nice if user could publish a web app to Azure using a publish profile provided by Azure.

[2019-01-05 06:40] maartenba commented on #141
Does this work for your scenario?
https://blog.jetbrains.com/dotnet/2018/07/25/publishing-asp-net-core-web-applications-iis-ftp-rider-2018-2/

[2019-01-05 08:46] DavidZizu commented on #141
@maartenba oh, thank you! I somehow didn't notice that feature

[2019-01-05 14:15] maartenba commented on #141
Awesome! Let us know if anything is missing there.

[2019-01-05 14:15] #141 closed, assigned to nobody

[2019-01-09 08:47] adrtarnowski opened #142 "[Azure Explorer] Is it possible to connect Storage Account using Name and Key?"
I'm able to connect Storage Account using Account name and Account key in Microsoft Azure Storage Explorer. Unfortunately, I don't see that functionality in Rider so Are you going to add connecting via key feature?

[2019-01-09 10:40] maartenba commented on #142
This is currently in the `191` branch, and will surface in Rider 2019.1. Stay tuned!

(duplicates #120)

[2019-01-09 10:40] #142 closed, assigned to nobody

[2019-01-10 14:05] #140 closed, assigned to sdubov

[2019-01-10 14:05] sdubov commented on #140
Fixed in 183.1 branch

[2019-01-10 14:05] sdubov commented on #139
Fixed in 183.1 branch.

[2019-01-10 14:05] #139 closed, assigned to sdubov

[2019-01-10 14:06] sdubov commented on #133
Fixed in 183.1 branch.

[2019-01-10 14:06] #133 closed, assigned to sdubov

[2019-01-10 14:08] sdubov commented on #131
Fixed in 183.1 branch.

[2019-01-10 14:08] #131 closed, assigned to sdubov

[2019-01-10 14:14] sdubov commented on #130
Fixed in 183.1 branch.

@ForNeVeR, currently, we have no ability to get project type from PublishableProjectModel. So, I've split cases to make sure we cover them separately. Create a new ticket to make it easily and more clear after we add a project kind into publishable project model -https://youtrack.jetbrains.com/issue/RIDER-23430.

Also, in scope of this ticker (initial problem was in the hid

[2019-01-10 14:14] #130 closed, assigned to sdubov

[2019-01-10 15:20] ForNeVeR commented on #130
I have checked the code in PR, I think that's enough :)

Regarding the hidden combo box, you're possibly talking about #132. Should we close that, too?

[2019-01-10 15:27] sdubov commented on #130
Right. I'll close #132 as well.

[2019-01-10 15:28] sdubov commented on #132
Fixed in 183.1 branch in scope of commit ed77f01a9f5a52604238525c4002581b24ca77d7. Added the logic that resize existing web apps table based on parent window height. Now, we have a "project" combobox always visible under the existing web apps table.

[2019-01-10 15:28] #132 closed, assigned to sdubov

[2019-01-10 17:34] Structed opened #144 "Code Samples button should default to .NET platform"
# Expected Behaviour
When clicking the "Azure Code Samples" button, the browser opens and loads the [Azure Code Samples page with .NET preselected as platform](https://azure.microsoft.com/en-us/resources/samples/?platform=dotnet&sort=0).

# Actual Behaviour
When clicking the "Azure Code Samples" button, the browser opens and loads the [Azure Code Samples page with JAVA preselected as platform](htt

[2019-01-10 19:23] marc-wilson commented on #78
It would be nice if this (ability to debug) was added to PyCharm too. Azure Functions support Python in addition to DotNet (some other languages as well). It's a big turn off that I can't debug the python azure function. I see there's a way to do it with Visual Studio code, but I'm not having any luck with it.

[2019-01-11 20:58] #134 closed, assigned to sdubov

[2019-01-11 20:58] #135 closed, assigned to sdubov

[2019-01-11 20:58] #144 closed, assigned to maartenba

[2019-01-12 21:48] #75 closed, assigned to sdubov

[2019-01-12 21:51] #45 closed

[2019-01-12 21:52] sdubov commented on #45
Currently, we write Azure-specific actions into Activity log while publishing web app or creating a database. It is merged into 183 release.

[2019-01-15 10:01] #91 closed, assigned to nobody

[2019-01-15 10:08] maartenba opened #148 "Merge upstream changes into 191"
Merge upstream changes from https://github.com/Microsoft/azure-tools-for-java into 191.

Will add a few bugfixes in existing features, as well as device flow fallback for authenticating against the Azure management API's.

[2019-01-18 13:37] trenoncourt opened #149 "Allow publishing to App Service with kind "API""
Hi,

I cannot make a deployment with App service with kind api.
Only web app are listed in App service.

[2019-01-23 10:01] maartenba commented on #72
https://plugins.jetbrains.com/plugin/11220-azure-toolkit-for-rider#comment=30704

[2019-02-05 08:39] maartenba opened #150 "Functions: Deploy"
Similar to web app deployment?

[2019-02-05 08:43] maartenba opened #151 "Functions: Development: Project templates"
Prerequisites:

* User has Azure Functions Core Tools installed (https://www.npmjs.com/package/azure-functions-core-tools)
* We have `dotnet` tool path available and verified the above was installed

Project templates for functions are available from Azure Functions Core Tools, and are regular `dotnet new` templates.

Location on disk: `%APPDATA%\npm\node_modules\azure-functions-core-tools\bin\tem

[2019-02-05 08:45] maartenba opened #152 "Functions: Development: Item templates"
Prerequisites:

* User has Azure Functions Core Tools installed (https://www.npmjs.com/package/azure-functions-core-tools)
* We have `dotnet` tool path available and verified the above was installed

Item templates for functions are available from Azure Functions Core Tools, and are regular `dotnet new` templates.

Location on disk: `%APPDATA%\npm\node_modules\azure-functions-core-tools\bin\templa

[2019-02-05 09:00] maartenba commented on #152
May require: https://youtrack.jetbrains.com/issue/RIDER-24197

[2019-02-05 18:08] iamim commented on #129
@maartenba sorry, forgot to follow-up due to holidays.

Will try to find some time and do it.

[2019-02-23 18:27] noelstieglitz commented on #101
Visual Studio has a plugin that allows authenticating with Azure to access Key Vault (called _Azure Service Authentication_) so your app can access Key Vault while debugging:

https://marketplace.visualstudio.com/items?itemName=chrismann.MicrosoftVisualStudioAsalExtension

I'm trying to find the equivalent in Rider.  Does it exist?

This issue sounds more like managing the secrets in Key Vault, bu

[2019-02-24 19:10] maartenba commented on #101
Issue is indeed about managing key vault. What's the scenario you want to achieve?

[2019-02-25 20:43] noelstieglitz commented on #101
@maartenba - I'd like to be able to debug my code locally so that it can retrieve values from Azure Key Vault using credentials I provide (or rather, a token based on those credentials).  A picture (copied from the link in previous comment) explains how it works in the VS plugin (which, as an aside is now integrated into Visual Studio):

![authapparch](https://user-images.githubusercontent.com/113

[2019-02-26 06:34] maartenba commented on #101
Interesting. Will do some reading...

[2019-03-11 12:31] #57 closed

[2019-03-11 12:53] sdubov opened #157 "Cloud Service: Add support to run on local emulator"
Please see https://youtrack.jetbrains.com/issue/RIDER-25108 for details.

[2019-03-16 22:52] sdubov opened #159 "Functions: list functions for a particular function app in Azure explorer"
We need to list all available functions inside a particular function app. There is no API in SDK that we could use. We should rather make a REST call to get this information.

Please see comment from @maartenba in https://github.com/JetBrains/azure-tools-for-intellij/pull/158

Implementation:
<img width="376" alt="AzureExplorerFunctions" src="https://user-images.githubusercontent.com/6064345/56159

[2019-03-16 23:18] #86 closed, assigned to sdubov

[2019-03-19 08:13] maartenba opened #161 "Functions: Development: Run configuration for Azure Functions host"
Subtask of #78 to get easy running and debugging.

[2019-03-19 08:14] maartenba commented on #151
WIP in commit https://github.com/JetBrains/azure-tools-for-intellij/commit/a5fd52c8c86e4b4c30752565b0c47ed4cf3435a1

[2019-03-19 08:14] maartenba commented on #152
Can be added similar to WIP in commit https://github.com/JetBrains/azure-tools-for-intellij/commit/a5fd52c8c86e4b4c30752565b0c47ed4cf3435a1, but will need support for item templates in Rider. Alternative is ship our own item templates.

[2019-03-19 08:15] #120 closed, assigned to maartenba

[2019-03-25 14:45] maartenba opened #163 "Functions: Development: Configure Azure Core Tools path"

[2019-03-27 08:49] maartenba commented on #152
Decided to add these in Rider - relevant issue: https://youtrack.jetbrains.com/issue/RIDER-26086

[2019-03-27 08:50] #163 closed, assigned to maartenba

[2019-03-27 08:50] #161 closed, assigned to maartenba

[2019-03-27 23:23] Krangth opened #167 "Configurations do not save/display correctly."
None of the Azure Publish settings are saving or displaying correctly. If I attempt to create a new Azure Publish configuration, I set the Name, which web app to deploy to, and which project in the solution should be published. If I open this configuration again, the project I selected is never the one chosen. The view always defaults to the first project in the list. I have published apps on top

[2019-03-28 16:22] #152 closed, assigned to maartenba

[2019-03-28 16:22] #151 closed, assigned to maartenba

[2019-04-04 08:27] disaverio opened #170 "Web app selected as deploy destination is not preserved"
In menu `Run` -> `Edit configurations` create a new `Azure Publish to Web App`. Then on the right pane (in `Web App Configuration` tab) select `Use Existing Web App`.
You need to have more than one web app, in the list below: then you change the order of the list (e.g. sorting by name), and select one of them.
Save (Ok/Apply) and close. If you re-open the configuration in `Edit configurations` the

[2019-04-04 09:10] maartenba commented on #170
Hi @disaverio - this has been fixed in the upcoming 2019.1 release. Stay tuned!

[2019-04-04 09:10] #170 closed, assigned to sdubov

[2019-04-04 09:14] disaverio commented on #170
Well, good to know

[2019-04-04 15:20] sdubov commented on #170
Fixed in 5854319cddcda4961d90dc760ba30e368c53447c

[2019-04-04 18:47] sdubov opened #176 "Create new SQL Server throws null pointer exception"
Reported by @maartenba. The exception is thrown when creating a new SQL Server from Azure Explorer:
[code]

[2019-04-04 19:43] #176 closed, assigned to sdubov

[2019-04-04 19:46] #150 closed, assigned to sdubov

[2019-04-04 20:22] sdubov commented on #88
Fixed in 52ccb1569b9189a7b9fc2b29b35deabf4d84756e

[2019-04-04 20:22] #88 closed, assigned to sdubov

[2019-04-09 11:06] #167 closed, assigned to sdubov

[2019-04-16 06:48] maartenba opened #182 "Functions: enable/disable specific function"
Add support to enable/disable specific function in a function app.

This is currently not possible as there is no strict way to determine current function status - https://github.com/Azure/azure-functions-host/issues/2623

[2019-04-16 08:47] #159 closed, assigned to sdubov

[2019-04-16 09:22] maartenba commented on #92
Obsolete with V2 functions

[2019-04-16 09:22] #92 closed, assigned to nobody

[2019-04-18 19:14] #148 closed, assigned to sdubov

[2019-04-22 06:56] sdubov opened #187 "Fix searchableOptions gradle task failure"
We got an error when running a searchableOptions Gradle task when building a plugin:
[code]

frontend.log
[code]

[2019-04-28 17:04] #122 closed, assigned to sdubov

[2019-04-30 13:18] #89 closed, assigned to sdubov

[2019-04-30 13:18] #78 closed, assigned to maartenba, sdubov

[2019-04-30 15:46] sdubov commented on #78
I think the main work here is done. We have skipped the #87 in 191 release - there is still opened ticket for web apps with similar functionality - #46. I assume we can separate this work and move it out from the ticket scope.

[2019-05-01 07:24] bobvandevijver commented on #98
I would definitely love to see this happening, as it is currently the only reason left to use VS code on my machine (now the Azure function debugging support is available in Rider :) ).

[2019-05-03 12:29] benbelow commented on #78
@sdubov Was support for v1 functions added, or just v2?

[2019-05-03 13:18] maartenba commented on #78
@benbelow Only v2

[2019-05-03 13:19] benbelow commented on #78
:'( Until v2 functions get service bus trigger support my team will be unable to migrate. Are there any plans to add v1 support? Or will I need to keep using Visual Studio for running functions?

[2019-05-03 13:25] maartenba commented on #78
Looks like V2 has SB trigger support? https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#packages---functions-2x

[2019-05-07 07:26] ser2ver opened #193 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Blobs"
IntelliJ build version: 2019.1 EAP RD-191.6733.1035
OS: Linux
JDK: JetBrains s.r.o 1.8.0_202-release
Plugin version: 3.20.0.449-2019.1
Error message:
[code]

[2019-05-07 07:36] maartenba commented on #193
@ser2ver Any chance you could share Rider logs with us at well? (feel free to do so privately via email - maarten AT jetbrains.com)

[2019-05-10 08:50] maartenba opened #195 "Azure Functions - program parameters should not default when changing selected project"

[2019-05-10 10:18] maartenba opened #196 "Azure Functions - re-using BuildProjectBeforeRunTask causes loss of before run task sometimes for function projects"

[2019-05-13 07:51] maartenba opened #199 "Cloud Shell - Support web preview"
https://www.thomasmaurer.ch/2019/05/preview-web-apps-with-azure-cloud-shell-web-preview/

[2019-05-13 08:53] #195 closed, assigned to maartenba

[2019-05-13 08:53] #196 closed, assigned to maartenba

[2019-05-15 20:29] reemas15 opened #201 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Function Apps"
IntelliJ build version: 2019.1.1 RD-191.6733.985
OS: Windows 10
JDK: JetBrains s.r.o 1.8.0_202-release
Plugin version: 3.20.0.464-2019.1
Error message:
[code]

[2019-05-16 08:11] sdubov commented on #201
@reemas15, could you please check you use a valid Azure subscription? The exception says `Tenant 'null' not found. This may happen if there are no active subscriptions for the tenant.`

Could you please provide some steps - when do you see this error? We might want to add a handler for this case.

[2019-05-17 07:19] reemas15 commented on #201
after uninstalling and reinstalling it seems to be working now.. but 100% the credentials were right and I have an active subscription. I cant reproduce it now.

[2019-05-17 08:04] reemas15 opened #202 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Blobs"
IntelliJ build version: 2019.1.1 RD-191.6733.985
OS: Windows 10
JDK: JetBrains s.r.o 1.8.0_202-release
Plugin version: 3.20.0.464-2019.1
Error message:
[code]

[2019-05-17 08:35] sdubov commented on #202
@reemas15, could you please provide log files (you can find path in `Help > Browse Special Paths > LOGS frontend.log`)?

[2019-05-21 10:11] stefandevo opened #203 "Request: ServiceBus"
Any plans to add ServiceBus to the tools?
https://github.com/paolosalvatori/ServiceBusExplorer

[2019-05-21 13:12] maartenba commented on #203
Thanks for suggesting!

[2019-05-21 16:51] bbakermmc opened #204 "Managed Identity?"
Does this support managed identities like in visual studio?
Have another user running 19.1 and we have managed identities configured for our DBs and in VS it just auth uses our normal creds.  Im not sure if because on my machine i have VS 2019 and Rider its using the token from VS, but on the other persons its not.

Error:
[code]

[2019-05-22 08:06] maartenba commented on #204
Right now we don't have managed identity support for this.

[2019-05-22 09:19] vasileciumac opened #205 "Cannot connect to Azure Storage Emulator with v3.22.0-2019.1"
Cannot connect to Windows Azure Storage Emulator 5.3.0.0 with the Azure explorer tool from the v3.22.0-2019.1

[2019-05-22 10:39] sdubov commented on #205
@vasileciumac, could you please post an error with stack trace you are getting when connecting?

[2019-05-22 10:53] vasileciumac commented on #205
There is no error because this feature is not available in the Plugin for Intellij Idea. It is only available in the Raider version of the plugin.
Screenshot from the Rider Azure Explorer:
![image](https://user-images.githubusercontent.com/34277209/58170520-e4ab9e80-7c93-11e9-9727-684f80273a71.png)

The menu entry "Attach external storage account" is missing in the Intellij IDEA

Regards

[2019-05-22 11:30] vasileciumac opened #206 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Blobs"
IntelliJ build version: 2019.1.1 RD-191.6733.985
OS: Windows 10
JDK: JetBrains s.r.o 1.8.0_202-release
Plugin version: 3.20.0.464-2019.1
Error message:
[code]

[2019-05-22 12:00] maartenba commented on #205
@sdubov Looks like an issue for the IntelliJ plugin (not the Rider one).
@vasileciumac would you mind creating a feature request at https://github.com/microsoft/azure-tools-for-java ?

[2019-05-22 12:14] maartenba commented on #206
Seems similar to #202 and #193
Some copies in Microsoft upstream repo: https://github.com/microsoft/azure-tools-for-java/search?q=NoSuchElementException&type=Issues

Wondering if we can catch the exception in `com.microsoft.tooling.msservices.helpers.azure.sdk.StorageClientSDKManager.getBlobContainers` line 122 and either do a retry of the list operation, or return a partial result?

[2019-05-22 12:19] sdubov commented on #205
Got it. @vasileciumac, yes, it was the feature we add in Rider plugin - https://github.com/JetBrains/azure-tools-for-intellij/issues/120

[2019-05-22 12:23] sdubov commented on #202
Closing as a duplicate of #193

[2019-05-22 12:23] #202 closed, assigned to nobody

[2019-05-22 12:31] sdubov commented on #206
The `LazySegmentedIterable` instance use some retry policy under the hood, but not sure if they use it when losing blobs. It looks like a bug in core libraries. Yep, we could try to retry, but need to check why do we get nothing here first.

[2019-05-22 13:52] vasileciumac commented on #205
@sdubov Thanks for the answer ;)

[2019-05-22 13:52] #205 closed, assigned to nobody

[2019-05-22 15:30] bbakermmc commented on #204
@maartenba I assume its on the list?  I mean its a pretty big deal for everyone who uses Managed Identities :)  It would be nice not to have to install VS2019 just for this functionality.  After its configured in VS2019, it just seems to work in Rider, so not sure if there is a standalone piece or what.

[2019-05-23 05:15] maartenba commented on #204
Will definitely have to investigate. Does the configuration from VS expire at some point or does it keep working?

[2019-06-05 08:16] maartenba opened #207 "Azure Functions - Can't check/download core tools when last release is not a full release"
Azure Functions - Can't check/download core tools when last release is not a full release

See https://github.com/Azure/azure-functions-core-tools/releases

![image](https://user-images.githubusercontent.com/485230/58940434-bc36a080-8779-11e9-9442-5fc4a91af8a5.png)

Exception:
[code]

Will need a bugfix release for `191`.

[2019-06-06 07:44] maartenba commented on #207
PR merged

[2019-06-06 07:44] #207 closed, assigned to maartenba

[2019-06-17 22:36] mathewc commented on #182
FYI - the ARM API work described in https://github.com/Azure/azure-functions-host/issues/4570 addresses this. Closing this issue in favor of that tracking item.

[2019-06-21 02:18] Itoktsnhc opened #212 "[Rider] AppService SCM endpoint is not right when use azure chinaenvironment"
I am using the Azure china environment. after changing AzureToolsForIntelliJ/AadProvider.json to  Environment China.
[code]
The china account can log in through rider, but I still cannot publish my asp.net core project to azure china's app service, the SCM endpoint is not right

`
Publishing ZIP file. Attempt 1 of 3...
Fail publishing ZIP file: java.net.ConnectException: Failed to connect to xxxxx

[2019-06-22 10:34] derigel23 commented on #104
It's not just an enhancement, it's a must feature. I still need VS for it.

[2019-07-08 05:32] maartenba opened #214 "Functions - Run individual function while developing"
From https://twitter.com/kot_2010/status/1148096321007607808

Currently, I use environment variables for this as described in https://docs.microsoft.com/en-us/azure/azure-functions/disable-function

1) Annotate every function with `[Disable("FUNCTION_{NAME}_DISABLED")]`
2) Create individual run configuration in Rider, setting al environment variables `FUNCTION_{NAME}_DISABLED` to `True`, except th

[2019-07-08 08:07] maartenba opened #215 "Functions - Provide live templates in addition to file templates"
As discussed in #213

[2019-07-08 14:53] maartenba opened #218 "Fix all icons"
In `192`, none of the icons render properly:

![image](https://user-images.githubusercontent.com/485230/60816479-1cb26680-a19a-11e9-801d-92ce9788d426.png)

[2019-07-08 19:15] maartenba commented on #187
This was fixed, right?

[2019-07-08 19:16] maartenba commented on #201
OK closing for now, feel free to reopen if the need arises

[2019-07-08 19:16] #201 closed, assigned to nobody

[2019-07-08 19:39] sdubov commented on #187
We fixed this by configuring another set of AWS instances that run our builds. I would say partially yes :) I think we can close this issues for now.

[2019-07-08 19:39] #187 closed, assigned to sdubov

[2019-07-09 06:32] maartenba commented on #16
Could not reproduce. Feel free to re-open if the issue pops up again.

[2019-07-09 06:32] #16 closed

[2019-07-12 08:24] isukces opened #221 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Blobs"
IntelliJ build version: 2019.1.3 RD-191.7141.460
OS: Windows 10
JDK: JetBrains s.r.o 1.8.0_212-release
Plugin version: 3.20.0.486-2019.1
Error message:
[code]

[2019-07-12 08:46] maartenba commented on #221
Duplicates #206

[2019-07-12 08:46] #221 closed, assigned to nobody

[2019-08-05 18:11] #215 closed, assigned to maartenba

[2019-08-05 19:12] maartenba opened #224 "Can not create SQL server"
Getting exception when creating SQL server in a new resource group

[code]

[2019-08-05 19:33] #214 closed, assigned to nobody

[2019-08-05 22:27] sdubov commented on #224
This exception looks very similar to #201. I'll take a look on it, but not sure if we have a lot of options here. We could implement a retry logic.

[2019-08-06 05:10] #199 closed, assigned to maartenba

[2019-08-06 05:24] #218 closed, assigned to maartenba

[2019-08-06 06:44] maartenba commented on #224
Just tried a few things, and it looks safe to catch this exception in this code path (`AuthException` ith `null` in the message text). If you agree, I can add it?

[2019-08-06 06:57] maartenba opened #226 "Icons for Resource Manager"

[2019-08-06 09:21] #224 closed, assigned to sdubov

[2019-08-06 09:48] #212 closed, assigned to maartenba

[2019-08-06 12:48] sdubov opened #230 "Provide an API to set icons for action for Azure Explorer nodes on a plugin level"
Currently, we have an option to set icons for Azure Explorer context action in Utils library only. From the other side, we have an API to add some extra actions in a plugin later when we got all actions from Utils. It would be great to have an option to provide an icon for those actions as well.

Note:
- In addition, we should make a common icons class in Utils lib and use them through all node ic

[2019-08-06 13:09] #226 closed, assigned to sdubov

[2019-08-06 13:51] sdubov opened #232 "Update build scripts for 192 release"
- BuildDevint
- change-notes
- plugin version

[2019-08-06 14:58] #232 closed, assigned to sdubov

[2019-08-07 16:32] sdubov opened #234 "Enable protocol and backend extensions in plugin"
We should enable backend and protocol extension in plugin. This will allow us to:
- Re-write Function gutter mark
- Add completion in forms
- Enable analysis
- etc...

[2019-08-07 18:45] maartenba commented on #98
Editing will be available in 2019.2 (however no code completion and so on yet, apart from what we get from the JSON schema).

[2019-08-07 18:46] sdubov opened #235 "Update build scripts"
We need to update a build scripts to get lib version and set a main release version based on default branch.

[2019-08-09 09:02] Krangth opened #236 "Publish azure web app does not work"
Update Rider today. Plugin Version says: 3.26.0.528-2019.2

When I start the publish to azure, all of the usual messages appear in the console that I have seen many times before. However, the site only stops and starts. The code is never updated. The same old version of the site remains.

[2019-08-09 12:37] #236 closed, assigned to maartenba

[2019-08-09 14:05] maartenba commented on #236
Should be released soon. Thanks for reporting, @Krangth!

[2019-08-09 19:27] Krangth commented on #236
Works great again! Thank you so much for the quick turn around.

[2019-08-27 14:38] wis3guy opened #238 "Debugging an entire function app is no longer possible"
### TLDR

1. The context menu to start a debug session on a Function **App** is no longer available. It would be really, *really* useful to have this back.
2. There seems to be a bug in the plugin that prevents patching the `host.json` in case no function names are defined in the debug configuration. As a result clearing the parameter value has no actual affect. See screenshot below. Imho it shoul

[2019-08-28 07:19] maartenba commented on #238
Thanks for a detailed report @wis3guy ! A bugfix release will be made soon.

[2019-08-28 07:59] #238 closed, assigned to nobody

[2019-08-28 12:28] wis3guy commented on #238
@maartenba Thank you for acting on this so quickly!

The issue is closed, but I noticed that a new version of the plugin is available already. Sadly though, i cannot install it as it is not compatible with my version of Rider!?! I cannot update Rider to that particular version, b/c it is not the latest stable release ... Why is a newer version of Rider required?

![Screenshot 2019-08-28 at 14 25 1

[2019-08-28 15:28] maartenba commented on #238
Can you check again? Should be solved now. Update of Rider is indeed not required for this change.

[2019-08-29 11:09] wis3guy commented on #238
@maartenba Yup, that fixed it!

Thanks for the speedy update. Kudos on the plugin by the way, i love not having to use VS on Windows to develop azure functions. VSCode on the Mac is just to _minimal_ for me, lacking resharper.

[2019-09-11 05:48] maartenba opened #240 "Azure Functions 3.0 tracking issue"
See https://github.com/Azure/app-service-announcements/issues/200

[2019-09-12 06:10] maartenba opened #241 "Create 193 branch targeting Rider 2019.3"

[2019-09-12 09:25] #241 closed, assigned to maartenba

[2019-09-18 12:15] sbyzova opened #244 "Support PublishSettings file"
Support a way to use publishsettings file.
https://dailydotnettips.com/getting-azure-app-services-publishing-profile-inside-visual-studio-itself/

[2019-09-18 12:15] sbyzova commented on #244
https://twitter.com/MikeMcLoughlin/status/1162311643415625729

[2019-09-18 12:58] maartenba commented on #244
You can use the "Publish to IIS" configuration for this.
![image](https://user-images.githubusercontent.com/485230/65150563-aeedab00-da24-11e9-86f7-c5b247b3607c.png)

[2019-09-18 12:58] #244 closed, assigned to nobody

[2019-09-25 13:19] maartenba opened #245 "Azure Functions - User Feedback - Run configuration name for "run individual function" should be more clear"
User Feedback - Run configuration name for "run individual function" should be clearer

Scenario: to run individual function Foo.Bar.Baz, the UI shows "Run Foo.Bar...". After using this once, the run configuration is persisted and user expects the next run _all_  functions will be executed (because the name says "Foo.Bar..."). Make it obvious that this is an individual function being executed inst

[2019-09-25 13:30] maartenba opened #246 "Azure Functions - Invoke timer trigger during debug session"
It is possible to trigger e.g. a TimerTrigger function using the following request (needs the `{}` body).

[code]

Very useful while debugging.

[2019-09-25 13:47] maartenba commented on #246
Also see https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local - maybe open a new HTTP request with everything populated so user can send things like queue data?

[2019-09-26 14:25] #245 closed, assigned to maartenba

[2019-10-05 20:20] sbyzova opened #250 "Cannot add F# file to an F# Azure Functions project"
1. create an F# Azure FUnctions project from the template
2. try to add an F# file to this project
result:
-file is not added
-error message "Sequence contains no elements" appears.
<img width="836" alt="Screenshot 2019-10-05 at 23 17 55" src="https://user-images.githubusercontent.com/52917649/66260360-683ed580-e7c6-11e9-8393-39c2e1739c6e.png">

[2019-10-06 09:27] maartenba commented on #250
@auduchinok would you have any idea where this can come from? (sample project attached, adding any F# file shows this error message)
[Company.FunctionApp1.zip](https://github.com/JetBrains/azure-tools-for-intellij/files/3694177/Company.FunctionApp1.zip)

[2019-10-08 12:24] maartenba commented on #250
Looks like https://youtrack.jetbrains.com/issue/RIDER-31074

[2019-10-08 13:02] auduchinok commented on #250
Yes, it's the one. I'll take a look, thank you.

[2019-10-09 16:32] mvsmal opened #251 "Debug throws exception"
I have a Function App with several functions. I am using 2 types of triggers: HttpTrigger and ServiceBusTrigger. When I try to Debug the app, it doesn't run, but stops with ArgumentNullException. However if just run the app, it works, and I can even attach to function `host` process and debug it. But it is very annoying.
![image](https://user-images.githubusercontent.com/3872761/66500792-717bbb00-

[2019-10-09 19:12] maartenba commented on #251
Would you happen to have a small repro project?

[2019-10-13 19:17] LangdalP opened #253 "Publish to Azure Functions incomplete"
Hi.

I have created a hello world azure function using the Rider template. Using the "publish to azure" configuration does not work. The build log seems to indicate that everything works (see below). However, what happens is that it creates a web app/azure functions with no actual functions. However, if I instead use the azure functions cli to run `func azure functionapp publish <NameOfApp>`, the

[2019-10-15 01:23] maartenba commented on #250
@sbyzova Looks like it will be fixed with 2019.3

[2019-10-15 01:23] #250 closed, assigned to nobody

[2019-10-15 02:07] maartenba commented on #253
Could you check a couple of things after publishing from Rider?

1) Under Advanced tools (Kudu) or App Service Editor in the Azure portal, do you see any directory named after your function containing a function.json file?
2) If yes, that means publish did work. If not, could you check the ZIP file that is being generated by Rider while publishing (will need to copy it while uploading, as Rider de

[2019-10-15 07:00] LangdalP commented on #253
@maartenba
I did as you said, using Kudu.
The folder and file is created, but there is an error inside the function.json file. The problem is that the `scriptFile` element points to the temporary rider-publish folder. Specifically, the value of `scriptFile` is `../../../../../../pederlangdal/AppData/Local/Temp/rider-publish5438353661562244586/bin/Bakstbot.dll`

When I instead publish using `func a

[2019-10-15 09:56] maartenba commented on #253
@sdubov could you have a look?

[2019-10-17 20:25] nshCore opened #254 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Blobs"
IntelliJ build version: 2019.2.2 RD-192.6584.65
OS: Mac OS X
JDK: JetBrains s.r.o 11.0.3
Plugin version: 3.26.0.534-2019.2
Error message:
[code]

[2019-10-17 20:35] maartenba commented on #193
Duplicate of #206

[2019-10-17 20:37] maartenba commented on #240
https://dev.to/azure/develop-azure-functions-using-net-core-3-0-gcm

Seems to work by updating the `Microsoft.NET.Sdk.Functions` package version to `1.0.30-beta2`, and targeting `netcoreapp3.0`.

E.g.:
[code]

[2019-10-19 16:55] jetersen commented on #240
Half truth @maartenba Rider seems to ignore `AzureFunctionsVersion` when set to `v3-preview` or user at least have to point to a different azure-functions-coretools version.

There seems to be no way for rider to select/download the preview version
`Azure Functions Core Tools (3.0.1740 Commit hash: 0b841ce061d005a05af8bb57a341989788266298)`

[2019-10-19 22:30] maartenba commented on #240
Regarding ` AzureFunctionsVersion = v3-preview`, what do you mean by "ignored"?

Regarding tools: these are downloaded from [their GitHub releases page](https://github.com/Azure/azure-functions-core-tools/releases), which currently does not list the preview version.

However, it's possible to install the tools via NPM (`npm install -g azure-functions-core-tools@preview`) and then configure Rider t

[2019-10-20 14:24] mvsmal commented on #251
I couldn't reproduce it in another project. Tried to delete .idea folder for the existing one and it helped. No exception anymore. Thanks.

[2019-10-20 14:24] #251 closed, assigned to nobody

[2019-10-21 00:34] jetersen commented on #240
I meant it was ignored until you realize that you need to update tools path 😅

[2019-10-23 07:06] michaelbrianlake commented on #204
@bbakermmc - I am currently experiencing this issue. (I have just upgraded to VS 2019, and Rider 2019.1)
previously with the 2018 products I was able to do as you suggest - I would login with VS, and Rider would just use that same token and everything was good. However after upgrading both products Rider is no longer using the token from VS.

Any suggestions on what configuration to check, to enab

[2019-10-23 07:53] maartenba commented on #204
Unfortunately not :-( Still have to investigate what we could do to make this work.

[2019-10-23 07:58] michaelbrianlake commented on #204
As an alternative - I was able to install Azure CLI, and use the 'az login' approach.
That seems to have worked for now.

[2019-10-24 08:53] UnoSD commented on #85
Not sure if the implementation will take that into account, but would be nice to be able to debug also Azure Functions hosted on both Windows and Linux plans. This issue is quite old, can I please ask if there is any roadmap for this already?

[2019-11-16 11:08] maartenba opened #256 "Azure Functions - Filter out pre-releases from core tools downloads"
https://github.com/Azure/azure-functions-core-tools/releases

[2019-11-16 11:10] maartenba commented on #256
Also see thread: https://twitter.com/maartenballiauw/status/1195660123072606208

[2019-11-16 11:12] maartenba commented on #204
@michaelbrianlake any chance you could describe the steps using that approach?

[2019-11-16 12:20] #118 closed, assigned to maartenba

[2019-11-16 12:24] maartenba opened #258 "Merge upstream changes into 201"

[2019-11-19 06:33] #256 closed, assigned to maartenba

[2019-11-19 06:34] #246 closed, assigned to nobody

[2019-11-19 06:42] maartenba commented on #129
Closing this for now, do feel free to re-open if the issue still persists.

[2019-11-19 06:42] #129 closed, assigned to nobody

[2019-11-19 06:43] #193 closed, assigned to nobody

[2019-11-19 06:43] maartenba commented on #254
Duplicate of #206

[2019-11-19 06:43] #254 closed, assigned to nobody

[2019-11-19 10:31] maartenba commented on #204
Also see thread https://twitter.com/maartenballiauw/status/1196720590964625408

[2019-11-19 10:57] DerAlbertCom commented on #204
I think you can emulate the Visual Studio Token Provider

 I looked at the Source.

https://github.com/Azure/azure-sdk-for-net/blob/f5afa9aa8840f2a14ef47a9dbfe569247d3ffa93/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/VisualStudioAccessTokenProvider.cs

Seems it reads a TokenProvider File from %LOCALAPPDATA%\.IdentityService\AzureServiceAuth, and runs the first

[2019-11-19 11:04] DerAlbertCom commented on #204
This may not work for Java, but this is not an Issue for me as a .NET Developer using Rider ;)

For the Java SDK there is a

https://github.com/Azure/azure-sdk-for-java/blob/11192bba2845d218e73d35ba3abac9785852f111/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/security/ManagedIdentityTokenProvider.java

Here is the MSICredentials

https://github.com/Azure/a

[2019-11-19 11:07] DerAlbertCom commented on #204
The MSI WebServer will also run with every other SDK or Application. Even with .NET

https://github.com/Azure/azure-sdk-for-net/blob/45cdad6bc3f20b36220d303a44f99895bdba28b7/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/MsiAccessTokenProvider.cs

[2019-11-19 11:11] DerAlbertCom commented on #204
Oh, i missed the link to the TokenFactory in .NET https://github.com/Azure/azure-sdk-for-net/blob/834bebd91c55d20eede0800d58a9a5bba654fb5e/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProviderFactory.cs
which has all the ways possible to check and find a decent TokenProvider for the supported cases.

[2019-11-19 12:43] maartenba commented on #204
So after having gone through code and a simple example, a couple of observations:

* Using the `VisualStudioTokenProvider.cs` seems a no-go, as it is very much Windows-only it seems.
* Using the `MsiAccessTokenProvider.cs` and exposing a local agent feels a little bit dirty, this seems to be how things work in Azure (as there's an agent running in the VM there which provides this info), but I woul

[2019-11-20 17:40] kwasak opened #260 "Error Loading Function Apps with WEBSITE_CONTENTAZUREFILECONNECTIONSTRING provided by Key Vault"
IntelliJ build version: 2019.2.3 RD-192.7317.11
OS: Mac OS X
JDK: JetBrains s.r.o 11.0.4
Plugin version: 3.26.0.565-2019.2
Error message:
[code]

[2019-11-20 20:57] kwasak commented on #260
I'm not able to see any of the function apps or deploy, this is a blocker for me.

[2019-11-21 00:13] kwasak commented on #260
Looks like this issue is caused by a key vault reference in the storage account connection string in the function app. If I remove the key vault reference string then it works.  See [`Key Vault For App Services`](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#reference-syntax)

[2019-11-21 00:38] kwasak opened #261 "Remove additional files at destination"
I noticed that after publishing to Azure Functions from Rider that older functions previously created still remain in Azure.

Visual Studio gives you the option to delete older files by essentially performing a "clean publish" with an option called "Remove additional files at destination".

![Remove additional files at destination](https://i.stack.imgur.com/HbzWk.png)

**How would I delete older f

[2019-11-21 08:38] maartenba commented on #261
Not currently, will investigate if we can add this.

[2019-11-21 09:07] maartenba commented on #261
@kwasak Rider makes use of [ZIP deployment](https://github.com/projectkudu/kudu/wiki/REST-API#zip-deployment-preview). The Azure docs state that [existing files will be deleted](https://github.com/projectkudu/kudu/wiki/Deploying-from-a-zip-file-or-url), with one exception:

If you have previously deployed this function app using e.g. Visual Studio Web Publish, it seems App Service will treat those

[2019-11-21 09:21] maartenba commented on #253
@LangdalP is there any chance you could share the app's entire project folder with us? (without the .cs files/any secrets, but will need the entire project structure/.idea folder/...) - I'm maarten AT jetbrains com.

[2019-11-21 10:13] maartenba commented on #260
@kwasak This is with a setting similar to this, right?
`@Microsoft.KeyVault(SecretUri=https://.....vault.azure.net/secrets/Foo/......)`

The exception seems like a server-side error in the Azure Management API's, does it still happen right now when listing function apps? (even those with a Key Vault setting?)

[2019-11-21 10:45] DerAlbertCom commented on #204
As a told you also in Twitter. Tooling around 'az login' should be enough, guidance, starting a shell etc. Also automatically setting the right ENV Variables would be nice. Also UI vor selection which account if multiple available (ideal per project)

[2019-11-21 15:31] kwasak commented on #261
Ok thank you for this, I did previously publish in Visual Studio, I'll look into it deleting the files manually.

[2019-11-21 15:31] #261 closed, assigned to maartenba

[2019-11-21 15:42] kwasak commented on #260
Yes @maartenba it’s in the format you described.

It appears to happens when listing function apps in the azure explorer that have a key vault reference for the setting `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING`. If I enter the raw string for this setting then I don't get an exception.

When picking a function app to deploy to in the build configuration options, I don’t get an exception, however n

[2019-11-22 21:19] melgaray opened #262 "Cannot run Fabric Application in Rider"
Is it possible to run .sfproj from within Rider? I installed the Azure toolkit plugin but that doesn't seem to help. If not, are there any workarounds?
Thanks,

[2019-11-23 10:06] maartenba commented on #262
Right now, there is no support for SF in Rider. A tracking issue is here: https://youtrack.jetbrains.com/issue/RIDER-10370 - feel free to +1 and add your comments there.

[2019-11-23 10:06] #262 closed, assigned to nobody

[2019-11-24 16:27] maartenba commented on #260
After investigating, it looks like the Azure Management API is returning a 500 status code on the following request:

[code]

The response:
[code]

This request originates from the [`FunctionAppsImpl`](https://github.com/Azure/azure-libraries-for-java/blob/955fdc9da14c15ab94ff36b90c50869f9c09a052/azure-mgmt-appservice/src/main/java/com/microsoft/azure/management/appservice/implementation/FunctionA

[2019-11-24 18:55] kwasak commented on #260
@maartenba Ok good to hear, looking forward to a fix

[2019-11-27 17:31] LangdalP commented on #253
@maartenba
I have now sent you an example of a solution where I have this problem, and also the build output produced when publishing to Azure.

Note that the solution is basically the simplest "Hello, World" Function App that is possible to make. I have just used the Rider template and added one HttpTrigger. Also note that I am using Windows 10.

[2019-11-27 17:35] maartenba commented on #253
Thanks! Will investigate

[2019-11-27 17:50] maartenba commented on #253
Thanks! Have checked, and indeed nothing "funky" to spot there. It seems that somehow when we invoke `msbuild /t:Publish`, an incorrect path is set in some case.

Do you have this issue on every publish or sporadically?

[2019-11-27 17:51] LangdalP commented on #253
@maartenba For me, this happens on every publish with Rider.

[2019-11-27 17:52] LangdalP commented on #253
On a side note: Publishing regular Web Apps works fine.

[2019-11-28 14:37] DerAlbertCom commented on #204
with `az login` it is possible to login in several accounts. with `az account list` I can list alle subscriptions `az account set --subscription 'Name|Id|'` i can change the current subscriptions.  Simple UI for this would be nice ;)

[2019-12-02 16:17] kwasak opened #263 "No Deployment Slots for Azure Functions Consumption Plan"
Deployment Slots for Azure Function Apps do not show up in Azure Explorer or in the deploy window located in build configuration options.

I do however see deployment slots for a web app with a monthly app service plan.

[2019-12-02 17:53] maartenba commented on #263
Thanks for reporting. Going to close as a duplicate of #72

[2019-12-02 17:53] #263 closed, assigned to nobody

[2019-12-09 11:30] maartenba opened #264 "Set AzureFunctionsVersion version quick fix"

[2019-12-09 15:23] maartenba commented on #253
The issue seems to have been fixed in the Azure Functions SDK:
https://github.com/Azure/azure-functions-vs-build-sdk/commit/1922f7d495a8089d8f3293e31dfbca1786e887b0

This is available/fixed since `Microsoft.NET.Sdk.Functions` version `1.0.30-beta4` - https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.30-beta4 - we recommend updating the `Microsoft.NET.Sdk.Functions` package to `1.0.30-

[2019-12-09 15:23] #253 closed, assigned to nobody

[2019-12-09 21:09] davidhenley opened #268 "Merge C# and F# Azure Functions"
Azure Functions in Rider 2019.2.3 has two separate items in the list. (AzureFunctions & Azure Functions) This should be merged then allow language switching.

![Screen Shot 2019-12-09 at 3 08 38 PM](https://user-images.githubusercontent.com/15056748/70473019-d25d4a80-1a95-11ea-9c2d-98462ac0a5a4.png)

![Screen Shot 2019-12-09 at 3 08 30 PM](https://user-images.githubusercontent.com/15056748/7047302

[2019-12-09 21:21] maartenba commented on #268
This has been PR-ed against the Microsoft repository a while ago, yet not yet shipped with the functions core tools it seems. Opened an issue for that here: https://github.com/Azure/azure-functions-core-tools/issues/1699

[2019-12-09 21:23] davidhenley commented on #268
Ok thanks. I searched but didn't see the relationship between the two.

[2019-12-09 21:25] maartenba commented on #268
No worries :) Hoping the bundled templates get updated at some point.

[2019-12-10 17:00] elliereid opened #269 "[Rider][ReportedByUser] Azure Services Explorer - Error Refresh resource manage module"
IntelliJ build version: 2019.2.3 RD-192.7317.11
OS: Mac OS X
JDK: JetBrains s.r.o 11.0.4
Plugin version: 3.26.0.565-2019.2
Error message:
[code]

[2019-12-10 18:12] sdubov commented on #269
@elliereid, thank you for your report. I'm not able to repro it from the first glance. Could you please provide some details about the issue? Do you see this error been signed in into your account? Does it have a valid subscription? Do you see this issue constantly? Can you reproduce it when refresh  other modules, but Resource Management (since we require Subscription information for all of them)

[2019-12-11 11:09] #240 closed, assigned to maartenba

[2019-12-11 11:10] #264 closed, assigned to maartenba

[2019-12-16 09:07] johnnyegel opened #271 "Publishing Azure Web App fails if the target is running on a Linux App Service Plan"
If you try to publish an Azure Web App to an Azure App Service which use a Linux Service Plan, the publishing fails. The following output is found in the log view:

[code]

[2019-12-16 16:16] crosswins opened #272 "Run .Net 4.7.2 Azure Functions"
Using the Edit Configurations I see no way to configure to run/debug Azure Functions running under .Net 4.7.2. I can use the new Azure Functions templates for our .Net Core projects but this is specifically .Net 4.7.2

[2019-12-17 06:09] maartenba commented on #268
Looks like an update of the core tools shipped with new templates.

[2019-12-17 06:09] #268 closed, assigned to maartenba

[2019-12-17 07:11] maartenba commented on #272
Thanks, @crosswins !

This will require an update to Rider itself, I logged an issue at https://youtrack.jetbrains.com/issue/RIDER-37080 and am working on a fix which will should make it into Rider 2019.3.1.

[2019-12-17 07:50] maartenba commented on #271
Issue has been fixed, we'll publish a new build of the plugin today.

[2019-12-17 07:50] #271 closed, assigned to maartenba

[2019-12-17 08:04] maartenba commented on #272
Going to close the issue here, patch in Rider has been merged and should appear in the next release. Thanks again for reporting!

[2019-12-17 08:04] #272 closed, assigned to maartenba

[2019-12-17 16:44] davidhenley commented on #268
@maartenba Have you tested this? Even with all the updates I am still seeing the same in the project templates.

[2019-12-17 20:21] maartenba commented on #268
Yes, have to use the v3/pre-release core tools though

[2019-12-23 06:40] maartenba opened #273 "Functions: Update durable functions live templates"
Based on @marcduiker's durable-functions-snippets. 🎉  - thanks Marc!

[2019-12-23 06:54] #273 closed, assigned to maartenba

[2020-01-07 09:06] maartenba opened #275 "Create 201 branch targeting Rider 2020.1"

[2020-01-07 09:43] #275 closed, assigned to maartenba

[2020-01-07 10:44] maartenba commented on #14
Was fixed with https://github.com/JetBrains/azure-tools-for-intellij/blob/201/PluginsAndFeatures/azure-toolkit-for-intellij/src/com/microsoft/intellij/ui/components/AzureDialogWrapper.java#L135

[2020-01-07 10:44] #14 closed

[2020-01-07 11:01] maartenba commented on #15
Could not reproduce, closing for now.

[2020-01-07 11:01] #15 closed

[2020-01-13 09:22] sahalsaad commented on #204
Hi @DerAlbertCom / @michaelbrianlake  ,

Can you provide steps for the workaround.

I not understand where should I execute the `az login`.

Thanks!

[2020-01-13 09:52] michaelbrianlake commented on #204
You would install the azure CLI tools, and login from the CLI.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-01-13 13:31] bjorncoltof opened #276 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Function Apps"
In general the listing of function apps is quite slow, once in a while I get the error below.

IntelliJ build version: 2019.3.1 RD-193.5662.14
OS: Windows 10
JDK: JetBrains s.r.o 11.0.5
Plugin version: 3.26.0.607-2019.3
Error message:
[code]

[2020-01-17 15:12] baltuonis opened #277 "Pull Request Created modal points to wrong URL"
Repro:

1. Create a pull request (using Jetbrains Rider Azure action)
2. Click link "Open pull request XXXX to add reviewers or associate work items."
3. Link points to https://XXXXX@dev.azure.com/XXXXXX/xxxx/_git/project/pullrequest/3934#view=discussion
4. Displays blank page, because of `#view=discussion` part.

Fix:

Do not add `#view=discussion` part to the URL

[2020-01-18 02:51] baltuonis commented on #277
Wrong project. Moved to https://github.com/microsoft/azure-devops-intellij/issues/280

[2020-01-18 02:51] #277 closed, assigned to nobody

[2020-01-23 06:48] tjaart opened #278 "Functions: Autodetect and use version of tools"
The core tools path has to be manually specified in the plugin configuration.

Please add functionality to
- Autodetect the tools version from the project
- Automatically download tools versions as necessary
- Run each project with correct version

[2020-01-23 16:46] BobBoba commented on #72
Hi there, any news about slots support while publish? Very need that feature, because by now I need to open VS and publish from there 8(

[2020-01-25 11:12] maartenba commented on #72
Not yet, sorry @BobBoba

[2020-02-04 02:22] marc-wilson commented on #78
Any insight into how to debug this in PyCharm? I can run `func start` and the function runs just fine. However, I can't debug anything. I can, however, do run > attach to process and then I can debug.

What would an easy debug setup look like? What is the recommended way to debug Python in Azure Functions in IDE's that aren't VS Code? I would like to not have this be a two step-process. I just wan

[2020-02-04 08:47] maartenba commented on #78
Right now this is only supported in Rider

[2020-02-04 16:40] marc-wilson commented on #78
@maartenba What are the plans for it? It currently works in Rider with c#/f#, it works in WebStorm with Node/TS, it appears to work in IntelliJ for Java. The only language/product missing is Python.

Is there an open issue/feature that I can refer to for Pycharm?

[2020-02-04 17:28] maartenba commented on #78
Not currently - this repo is mostly about the  Rider plugin. I'll ping the PyCharm folks and see if they have something to add.

[2020-02-05 22:40] marc-wilson commented on #78
@maartenba Did you hear anything back from the PyCharm team? It'd be nice to get some sort of work around for the time being. I'm sure there's a way to configure pycharm to automatically attach itself to the process, but it's not all that clear how to do it the "python way"

[2020-02-06 07:06] maartenba commented on #78
@mswilson4040 Did you try attaching PyCharm remote debugger to the port set in [the func example for Python](https://github.com/Azure/azure-functions-core-tools/wiki/Enable-Debugging-for-language-workers)? (I'm assuming yes based on the original question)

Best way to go is to open an issue at https://youtrack.jetbrains.com/issues/PY and provide some repro steps so the team can chime in.

[2020-02-06 21:13] marc-wilson commented on #78
Yes, but the dialog that shows the instructions on how to do the remote debugging don't make a lot of sense. In addition, this configuration makes it seem that it's only to attach to a port, not actually run the function.

I'll move over to the youtrack page as you suggested. Thanks for your help, @maartenba

[2020-02-06 21:24] marc-wilson commented on #78
Created https://youtrack.jetbrains.com/issue/PY-40493 for anyone else having troubles with PyCharm.

[2020-02-07 06:49] maartenba commented on #78
Thanks @mswilson4040 !

[2020-02-21 14:18] wis3guy commented on #276
I second that refreshing/loading the list of Function Apps in the Azure explorer is consistently slow. Without exception i have to wait 2-5 minutes for the operation. Admittedly we have ~100 Function Apps across 3 resource groups.

![image](https://user-images.githubusercontent.com/6885003/75041514-01902f00-54bd-11ea-8cf0-8471a2909700.png)

![image](https://user-images.githubusercontent.com/688500

[2020-02-21 14:28] wis3guy opened #279 "Publish to Azure dialog Function App selection hard"
We have ~100 Function Apps in 4 different resource groups. When publishing, the dialog displays **all** Function Apps as a flat list. As each resource group represents a different environment, it is crucial that the *deployer* selects the appropriate target resource. What makes things worse, is that our app naming convention only differs by prefix `dev`, `tst`, `acc`, `prd`

It would be really nic

[2020-02-28 14:57] go-aegian opened #280 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Storage Accounts"
IntelliJ build version: 2019.3.4 RD-193.6494.48
OS: Windows 10
JDK: JetBrains s.r.o 11.0.5
Plugin version: 3.26.0.607-2019.3
Error message:
[code]

[2020-03-11 10:30] sjdean opened #281 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Web Apps"
IntelliJ build version: 2019.3.4 RD-193.6494.48
OS: Windows 10
JDK: JetBrains s.r.o 11.0.5
Plugin version: 3.26.0.607-2019.3
Error message:
[code]

[2020-03-17 14:26] triforcely commented on #85
Is there any update regarding this issue?

[2020-03-17 14:28] maartenba commented on #85
@triforcely unfortunately not at this moment

[2020-03-17 15:14] triforcely commented on #85
@maartenba looks like good old logging every line will be needed 😅. Thanks for the response.

[2020-03-20 15:11] andreacassioli commented on #204
Just tried the CLI approach and the azure plugin, but no way. Any other suggestions?

[2020-03-20 15:21] bbakermmc commented on #204
If you have visual studio you can auth in that first and it carries over for rider.

Sent from my iPhone

On Mar 20, 2020, at 11:11 AM, Andrea Cassioli <notifications@github.com> wrote:

﻿

Just tried the CLI approach and the azure plugin, but no way. Any other suggestions?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/JetB

[2020-03-20 19:05] DerAlbertCom commented on #204
The cli is working, but has nothing to do with rider and the plugin.

[2020-03-20 19:40] andreacassioli commented on #204
Well then  I guess I misunderstood the workaround.  Isn't logging in using `az cli` outside rider a  suggested way to make managed identity work? If not, could you point me to the hint?

[2020-03-21 08:00] DerAlbertCom commented on #204
The az cli helps that your own apps can use your azure ad identity. Because it puts some token in a place where the Azure SDKs you might using can pick them up and use them to connect to azure service with your identity.

In Visual Studio you have a selector for that identity, for your identity. So it would be nice if the toolkit can provide something like this (but better e.g. per Project)

[2020-03-21 13:58] charconstpointer opened #282 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Web Apps"
IntelliJ build version: 2020.1 EAP 5 RD-201.6251.35
OS: Windows 10
JDK: JetBrains s.r.o 11.0.6
Plugin version: 3.26.0.621-2020.1
Error message:
[code]

[2020-03-31 07:33] Krangth opened #283 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Web Apps"
IntelliJ build version: 2019.3.4 RD-193.6494.48
OS: Windows 10
JDK: JetBrains s.r.o 11.0.5
Plugin version: 3.26.0.607-2019.3
Error message:
[code]

[2020-04-08 13:45] #258 closed, assigned to sdubov

[2020-04-11 12:45] sdubov opened #285 "Multiple "Azure Functions host" run configuration group are created when launching function from gutter mark"
Steps to reproduce:
1. Create multiple functions
2. Run them from gutter mark in Editor
3. Open Run Configurations

Expected: All function run configurations are combined under **Azure Functions host** run configuration group.
Actual: Each function run configuration is stored under its own **Azure Functions host** group.

<img width="354" alt="DuplicatedFunctionRunConfig" src="https://user-images.

[2020-04-11 15:17] #285 closed, assigned to sdubov

[2020-04-11 15:17] sdubov commented on #285
Fixed in https://github.com/JetBrains/azure-tools-for-intellij/pull/286

[2020-04-11 16:36] maartenba commented on #285
Awesome!

[2020-04-13 20:59] sdubov opened #287 "Assertion exception when resisting toolbar actions in the plugin"
The exception is originally reported in https://youtrack.jetbrains.com/issue/DEXP-506957

[code]

[2020-04-14 10:50] sdubov commented on #282
Related issue report - https://github.com/microsoft/azure-tools-for-java/issues/3548

[2020-04-14 11:01] sdubov commented on #281
There is a response we are getting from Azure: `The current subscription type is not permitted to perform operations on any provider namespace. Please use a different subscription.`. @sjdean could you please clarify some steps to reproduce this? So, we could handle this issue on the client side. Could you also please make sure you have access to do the same operations through Azure portal to  veri

[2020-04-14 11:11] sdubov commented on #283
@Krangth, the exception is thrown by Azure API: `AADSTS7000222: The provided client secret keys are expired.`. Please take a look on your secrets on Azure portal to make sure it is not expired.

[2020-04-14 11:42] #287 closed, assigned to sdubov

[2020-04-14 13:38] sdubov commented on #280
@sainzg, thank you for the report. I've verified basic cases when external creating storage accounts. The object is parsed as expected. @sainzg, could you please provide some steps to reproduce this issue? (since we do not store JSON data anywhere).

[2020-04-14 13:56] sdubov commented on #269
Here is the reference issue - https://github.com/microsoft/azure-tools-for-java/issues/4051

[2020-04-15 20:57] sdubov commented on #278
@tjaart, thank you for your report.

We already have a logic to detect if you do not have a core tool or if there is a newer version available and helps you download it through IDEA Notifications mechanism or you can do it manually from Settings.

I like the idea about auto detection user's installation. We can extend the logic to check this into a Plugin to simplify the configuration steps.

As f

[2020-04-16 06:26] sdubov commented on #276
Replace the logic on refresh Function Apps node in Azure Explorer with a new Azure API that uses lightweight call to get a list of function apps.

[2020-04-17 13:45] maartenba opened #291 "Existing Azure-related Run Configurations broken after upgrading to new plugin version"

[2020-04-17 13:51] #291 closed, assigned to maartenba

[2020-04-17 14:28] maartenba commented on #276
Unfortunately, we have to revert this change for now.

[2020-04-20 22:22] sdubov opened #293 "Functions: Azure Function Core tools should be auto-detected"
Original request - https://github.com/JetBrains/azure-tools-for-intellij/issues/278

We need to auto-detect function core tools based on user's and plugin installations and pre-populate the setting when detected

[2020-04-20 22:27] sdubov opened #294 "Functions: Run project against a function core tool version defined in proj file"
Original request - https://github.com/JetBrains/azure-tools-for-intellij/issues/278

Project file can specify multiple functions with different core tools version:
[code]
We need to define a plugin behaviour for this case and check if we need to run against a specified version.

[2020-04-20 22:28] sdubov commented on #278
Split the original issue on a sub-tasks:
Auto-detect: https://github.com/JetBrains/azure-tools-for-intellij/issues/293
Version to run: https://github.com/JetBrains/azure-tools-for-intellij/issues/294

[2020-04-21 19:42] #293 closed, assigned to sdubov

[2020-04-23 10:03] maartenba opened #296 "Functions: Completion and inspection for TimerTrigger schedule expression"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#ncrontab-expressions

[2020-04-23 11:08] maartenba opened #298 "Functions: F# support for run marker and timer trigger inspection/completion"

[2020-04-23 17:48] tcorkran opened #299 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Web Apps"
IntelliJ build version: 2020.1.0 RD-201.6668.197
OS: Windows 10
JDK: JetBrains s.r.o 11.0.6
Plugin version: 3.35.0.651-2020.1
Error message:
[code]

[2020-04-24 10:48] #296 closed, assigned to maartenba

[2020-05-03 17:14] wenkepaul commented on #72
Could you clarify `We can now already explore slots`?  I'm able to see MyApp in the Azure Explorer tab (AzureExplorer > Azure > App Service > Function Apps > MyApp), but nothing is displayed under MyApp.  In Azure, I can see:

- Function Apps
  - MyApp
    - Functions
    - Proxies
    - Slots
      - ... List of slots
        - Functions
          - MyFunction1
          - MyFunction2

[2020-05-03 17:38] maartenba commented on #72
...for web apps, not yet for function apps.

@sdubov is this one we can look at for 2020.2?

[2020-05-03 21:03] sdubov commented on #72
Yes, that's in my list.

[2020-05-20 12:36] maartenba commented on #234
@sdubov do you think this is one we can start looking into after all?

[2020-05-20 13:01] sdubov commented on #234
I think it is reasonable to do if we expect to support more analysis inside a plugin. + I think it would be good plan to re-write function gutter marks detection on a backend.

[2020-05-20 13:05] sdubov commented on #234
@maartenba, Do you have anything blocked by this task? I can enable backend in couple days.

[2020-05-20 13:10] maartenba commented on #234
Nothing blocked, but indeed gutter marks and some more language intelligence would be nice. Also we could do gutter marks for F# then :)

[2020-05-21 13:06] jguadagno commented on #96
Are there any plans to add the Azure Storage Queues and Tables to the explorer.  As of now, there is no support for them.

[2020-05-21 18:26] piotrzbyszynski commented on #94
Any news on that? CosmosDB management from inside Rider would be great!

[2020-05-23 21:51] UnoSD opened #304 "Functions: Debugging "Only in my code" does not work"
Hi, I hope this is the right place for this issue.

When I debug an Azure Function from Rider and I have "Only in my code" selected in the exceptions breakpoints, the execution never stops on any exception.

If I disable it, it works, but obviously interrupts the debug experience several times for handled exceptions in the hosting framework.

Rider 2020.1.3
Azure toolkit 3.35.0.651-2020.1
Arch Lin

[2020-05-28 01:47] FloodCreux opened #306 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Function Apps"
IntelliJ build version: 2020.1.3 RD-201.7846.1
OS: Mac OS X
JDK: JetBrains s.r.o. 11.0.7
Plugin version: 3.35.0.651-2020.1
Error message:
[code]

[2020-06-01 08:20] sdubov opened #308 "Add Dockerfile with build container definition into the plugin repo"
Currently, we use a container from `https://hub.docker.com/r/ivanpashchenko/rider-plugins-docker-image/dockerfile` to build the plugin. We are going to use a backend in plugin in nearest time (#234) that means that we will need to extend this container to setup `dotnet`, etc. We should rather create a Dockerfile with container definition and store it inside a plugin repo.

Please see all related s

[2020-06-01 11:38] sdubov opened #310 "Migrate TimerTrigger function app completion logic to backend"
Currently, we have a logic for TimerTrigger function app schedule expression on a frontend - `AzureFunctionsTimerTriggerCronInspection`. We need to migrate it to backend when #234 is merged into `202` branch.

Please see notes in #297 from @maartenba.

[2020-06-02 11:16] #234 closed, assigned to sdubov

[2020-06-03 09:09] andxu commented on #282
Close this issue due to duplicate error: com.microsoft.azuretools.adauth.AuthException: Null refresh token in auth result

[2020-06-03 11:05] sdubov commented on #310
#234 is merged into 202.

[2020-06-06 13:51] maartenba commented on #310
Might be useful for tooltips/hover explanation of the crontab: https://github.com/bradymholt/cron-expression-descriptor (or handle on front-end using existing description library)

[2020-06-06 17:48] sdubov commented on #310
Yep. I looked through this package too. The issue with this package is that the signed version is pretty old (1.<something>). The thing is - we actually do not need to get a description. We show a static values in a completion popup and do not update it. So, we can statically define all necessary descriptions. The only thing we need this library is parsing for inspections. NCrontab provide necessa

[2020-06-08 17:48] maartenba opened #312 "Azurite tools (cross-platform storage emulator)"
To run Azure functions (or for other reasons), a local storage emulator is required.

There is [Azurite](https://github.com/Azure/Azurite), a lightweight storage emulator, that can be used, either as an npm package or using Docker:

[code]

It would be nice if we could add functionality to start/stop/reset the emulator from within Rider.

[2020-06-09 10:29] maartenba opened #314 "Migrate AzureFunctionsVersionInspection (MSBuild) to back-end"
https://github.com/JetBrains/azure-tools-for-intellij/blob/202/PluginsAndFeatures/azure-toolkit-for-intellij/rider/src/org/jetbrains/plugins/azure/functions/codeInspection/msbuild/AzureFunctionsVersionInspection.kt

cc @sdubov

[2020-06-09 10:30] maartenba commented on #298
@sdubov do you know if we can make a back-end optional dependency to make this work?

[2020-06-09 10:30] maartenba commented on #314
Not sure if this needs to be BE or FE

[2020-06-09 13:58] vdurante opened #315 "Solution/project name causes Rider to not recognize it as an Azure Function"
Example 1:

![image](https://user-images.githubusercontent.com/5401232/84156619-1b3f8d00-aa40-11ea-99d3-bebe7b539f54.png)

Example 2

![image](https://user-images.githubusercontent.com/5401232/84156640-24c8f500-aa40-11ea-8c9f-1b6d2ebbbe37.png)

[2020-06-09 19:59] maartenba commented on #315
For example 1, could you share the `.csproj` contents? We treat a class library as an Azure Functions project when the following is true:

* `AzureFunctionsVersion` element is in the project file
* `Microsoft.NET.Sdk.Functions` is referenced
* `host.json` is in the project

[2020-06-10 12:39] vdurante commented on #312
If anyone else (like me) got here looking for a solution, I have created an External Tool with the following config:

- Program `C:\Windows\System32\cmd.exe`
- Arguments `/c start /B "" "C:\Program Files\nodejs\azurite.cmd" -s -l c:\azurite -d c:\azurite\debug.log` (you should adjust the arguments to fit your desire)

Just add it as a Before Launch step.

[2020-06-10 13:53] maartenba commented on #312
Another option is to create a run configuration/Docker - https://blog.maartenballiauw.be/post/2020/06/08/run-azurite-in-docker-with-rider-and-keep-azure-storage-data-local-to-a-solution.html

We'll get proper support done, too :)

[2020-06-10 18:56] vdurante commented on #315
@maartenba thank you for the answer. The 3 points above were satisfied. I created the solution from Rider itself. After I manually added a Function it started working again. No more issues ever since.

[2020-06-10 18:56] #315 closed, assigned to nobody

[2020-06-11 19:12] maartenba commented on #312
@vdurante Can you check the above PR/screenshots/assumptions and add your thoughts?

[2020-06-12 09:50] #310 closed, assigned to sdubov

[2020-06-12 11:07] sdubov opened #318 "Update change-notes for 202 EAP build release"

[2020-06-12 13:14] #318 closed, assigned to sdubov

[2020-06-13 12:41] sdubov opened #321 "Bump since-build version to 202 in 202 branch"
We have breaking changes in 202 that does not allow us compatibility with 201:
- Backend inspections severity settings
- Backend `StaticSeverityHighlightingAttribute` attribute constructor changes
- Changes in `RiderNuGetFasade` that miss `projectInfos` field in 202
- Changes in run configurations that drop `order` property
- Changes in Idea icons loader
- Changes in `RdProjectTragetFramework`

Al

[2020-06-14 22:54] sdubov commented on #314
Rider have csproj inspections on frontend similar to our Function App Version due to missing PSI on a backend.

[2020-06-14 22:54] #314 closed, assigned to sdubov

[2020-06-14 22:55] sdubov commented on #321
Fixed in #322.

[2020-06-14 22:55] #321 closed, assigned to sdubov

[2020-06-15 15:04] #312 closed, assigned to maartenba

[2020-06-19 09:18] libin049 opened #323 "java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread."
![image](https://user-images.githubusercontent.com/7247717/85117078-db9f4f00-b250-11ea-8003-b1a44ed35524.png)

[2020-06-19 09:18] libin049 opened #324 "java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread."
![image](https://user-images.githubusercontent.com/7247717/85117117-ec4fc500-b250-11ea-8c7b-091a5ee26524.png)

[2020-06-19 10:10] maartenba commented on #323
@libin049 looks like these are coming from the IntelliJ plugin - could you use the `Report to Microsoft` button at the bottom? This will include more detailed troubleshooting information (and send it to the right repository).

Thanks for reporting!

[2020-06-19 10:11] maartenba commented on #324
Duplicate of #323

[2020-06-22 08:44] AndriiKuznietsov opened #326 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Blobs"
IntelliJ build version: 2020.1.3 RD-201.7846.1
OS: Mac OS X
JDK: JetBrains s.r.o. 11.0.7
Plugin version: 3.35.0.651-2020.1
Error message:
[code]

[2020-06-22 10:42] maartenba commented on #326
Duplicate of #206

[2020-06-22 10:42] #326 closed, assigned to nobody

[2020-06-22 10:42] #324 closed, assigned to nobody

[2020-06-23 20:18] vdurante commented on #312
@maartenba sorry to bother, but do you intend to implement something similar for Azure Storage Emulator? Since Azurite doesn't implement the whole Azure Storage Emulator API, it could be nice to be able to configure preferred Functions storage emulator on the settings.

Just as an example, [Azurite doesn't support Table Storage](https://github.com/Azure/Azurite/issues/428) which is required for de

[2020-06-24 08:01] maartenba commented on #312
@vdurante We'll be integrating Azurite as-is, so not going to create our own if that is what you are asking :-)

Table storage is a bummer for Azure Functions indeed, but that's outside of the scope for tooling support. It's still possible to use regular Azure Storage Emulator, integrating Azurite makes things a bit easier for those new to Azure etc.

That said, let me chime in to that Azurite iss

[2020-06-24 08:20] maartenba commented on #299
This looks like a transient error with accessing the API. @tcorkran would you have any repro steps?

[2020-06-24 08:21] maartenba commented on #306
This looks like a transient error with accessing the API. @FloodCreux would you have any repro steps? Does the issue persist or was this just once?

[2020-07-02 14:06] Krangth commented on #283
that was it

[2020-07-02 14:06] #283 closed, assigned to nobody

[2020-07-10 14:34] #323 closed, assigned to nobody

[2020-07-10 14:39] maartenba commented on #40
@sdubov Is this still relevant?

[2020-07-10 14:43] maartenba commented on #280
This looks like a transient error with accessing the API.

[2020-07-10 14:43] #280 closed, assigned to nobody

[2020-07-10 14:43] #299 closed, assigned to nobody

[2020-07-10 14:43] #306 closed, assigned to nobody

[2020-07-10 14:43] maartenba opened #328 "Merge upstream into Rider toolkit 202 branch"
Upstream seems to have a couple of fixes we could benefit from.

#269, #281, #282 (fixed with microsoft/azure-tools-for-java#4479)

Also supports Azure CLI for credentials (microsoft/azure-tools-for-java#4468), which seems like it would magically fix #204 (needs verification).

[2020-07-13 09:00] sdubov opened #329 "Remove dependencies to JavaFX in source code"
Idea SDK 202 has removed dependency from JavaFX. We have `com/microsoft/azuretools/ijidea/ui/LoginWindow.java` in common code that has dependencies to javafx module. We need to fix it using one of provided solution:
- Rewrite the code using JCEF
- Use Swing
- Add dependency to JavaFX Runtime plugin (https://plugins.jetbrains.com/plugin/14250-javafx-runtime-for-plugins)

[2020-07-13 12:28] prigara commented on #329
Here you can find more details about using JCEF in the IntelliJ IDEA Platform: https://www.jetbrains.org/intellij/sdk/docs/reference_guide/jcef.html

[2020-07-13 16:04] sdubov commented on #329
Here is the related ticket with login options in the original plugin repo - https://github.com/microsoft/azure-tools-for-java/issues/1877.

Based on this issue, `LoginWindow`, that uses JavaFX imports, is not used anymore in the plugin for login. We can close the ticket.

[2020-07-16 06:03] maartenba commented on #304
@UnoSD could you try with the latest Rider 2020.2 EAP + Azure Plugin? This should be fixed now.

[2020-07-16 07:51] sdubov commented on #329
Sorry, still need to fix this since we have compilation issues if javafx is not bundled anymore. LoginWindows is still here even if it is not used. We can re-write this code with new JCEF bundled framework.

[2020-07-16 14:44] #329 closed, assigned to sdubov

[2020-07-23 09:47] ShaunEgan opened #332 "Azure explorer blank and can't login on MacOS"
I am very new to Rider and Azure, so I may be miss-understanding something - I can't find any reference to this problem so far.

I have installed Azure Toolkit for Rider, and am trying to deploy my function apps. The deploy screen run configuration screen is completely blank:

![run-config](https://user-images.githubusercontent.com/5261827/88273196-1aa24380-ccda-11ea-8ac3-20b58e52d466.png)

Also,

[2020-07-23 18:39] sdubov commented on #332
Hi @ShaunEgan! Wow! This is really weird. Let's take a look. The explorer should be the entry point for login and should not be blank even when you are not logged in to Azure. Could you please try to call `Azure Sign In...` action directly to make sure it is not the reason: (Shift + Shift) to call search everywhere and search for "Azure Sign In..." action?

[2020-07-23 18:53] ShaunEgan commented on #332
Hey! I tried searching for "Azure Sign In" and it also resulted in no results.

[2020-07-24 08:50] sdubov commented on #332
Could you please check what Rider and Azure Toolkit plugin version are you using?

[2020-07-24 09:25] ShaunEgan commented on #332
Azure Toolkit Plugin: 3.35.0.651-2020.1

JetBrains Rider 2020.1.4
Build #RD-201.8538.1, built on July 3, 2020
Licensed to Rider Evaluator
Expiration date: August 22, 2020
Runtime version: 11.0.7+10-b765.64 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
.NET Core 3.1.3
macOS 10.15.5

[2020-07-24 19:40] sdubov commented on #332
Just check on the same versions. @ShaunEgan, would you mind to send us Rider logs and report them using the instruction here - https://rider-support.jetbrains.com/hc/en-us/articles/360001079770-How-to-collect-Rider-logs- ?

[2020-07-27 10:05] ShaunEgan commented on #332
I have opened a support ticket with the logs, Ill update here if there is a resolution. Thank's for the help!

[2020-07-29 19:39] sdubov commented on #332
@ShaunEgan, thank you for sending logs. It makes this clear now. Looks like the issue is related to Azure auth manager logic -  https://github.com/JetBrains/azure-tools-for-intellij/blob/e6b7c2684e1660cd04e7db801aa44f60a2772d77/Utils/azuretools-core/src/com/microsoft/azuretools/authmanage/AuthMethodManager.java#L199

There is similar opened ticket - https://github.com/microsoft/azure-tools-for-jav

[2020-07-29 22:15] mlabisi commented on #332
Hi there @sdubov! I'd like to hop on to this discussion to see if this issue could be related to the error message I'm seeing? I'm using the Azure Toolkit for Rider on Windows!
![image](https://user-images.githubusercontent.com/5050718/88859234-2300ef80-d1ae-11ea-8f16-8d18b023e3f8.png)

I was able to login on Friday, but something may have happened over the weekend. This error started popping up o

[2020-07-30 08:06] ShaunEgan commented on #332
The work around got it working for me, much appreciated.

[2020-07-30 11:19] sdubov commented on #332
Hey @mlabisi! This is a different issue. Usually it means that java process missing a certificate that is required under the running process. It looks like it is required when login to Azure. Could you please report create a separate ticket and attach Rider logs using the instruction here - https://rider-support.jetbrains.com/hc/en-us/articles/360001079770-How-to-collect-Rider-logs- ? Then I can c

[2020-07-30 17:16] mlabisi commented on #332
Will do! Thanks for your response 😊

[2020-07-30 17:38] mlabisi opened #336 "Sign in error for Azure Toolkit for Rider on Windows"
I've started seeing this error while trying to sign in to the Azure Toolkit for Rider on Windows.
![image](https://user-images.githubusercontent.com/5050718/88953724-32d01080-d24e-11ea-98e3-6560a4d43291.png)
And [here's the log](https://github.com/JetBrains/azure-tools-for-intellij/files/5002865/idea.log)!

[2020-07-30 17:38] mlabisi commented on #332
@sdubov [Here](https://github.com/JetBrains/azure-tools-for-intellij/issues/336) it is!

[2020-07-31 20:18] sdubov commented on #90
Created related ticket - [RIDER-48520](https://youtrack.jetbrains.com/issue/RIDER-48520)

[2020-07-31 20:18] sdubov commented on #84
Created related ticket - [RIDER-48520](https://youtrack.jetbrains.com/issue/RIDER-48520)

[2020-07-31 20:21] sdubov commented on #90
I've checked this with recent 202 upstream merge - #328. Function App log stream works. I think we can add this feature into 202.

[2020-08-02 14:30] sdubov opened #337 "Update icons for Azure Explorer Node actions defined on Plugin level"
We need to update all missing icons for actions available for nodes in Azure Explorer that are added from Plugin level. Currently, we have no API to set these actions icon. This ticket is currently blocked by ~#230~ and ~[RIDER-48559](https://youtrack.jetbrains.com/issue/RIDER-48559)~.

[2020-08-02 22:23] sdubov opened #339 "Memory leak running Rider 202 EAP8 with plugin"
[code]

[2020-08-03 07:58] #339 closed, assigned to maartenba

[2020-08-03 10:47] maartenba opened #340 "Cloud Shell does not work when using Azure CLI for authentication (version 2020.2+)"
The Azure Toolkit for Rider does not support Azure Cloud Shell when authenticating using the Azure CLI.

## Cause

When using Azure CLI to authenticate to Azure in Rider, the Azure CLI application id is used to access the Cloud Shell API's. https://github.com/microsoft/azure-tools-for-java/issues/4529

## Workaround

As a workaround, make sure to authenticate to Azure in Rider using either the dev

[2020-08-05 08:13] #304 closed, assigned to maartenba

[2020-08-05 11:47] maartenba commented on #204
Good news: in 2020.2, we will allow you to use `az` credentials to login to Azure in Rider. While there are some issues with that (#340), it does seem to light up managed identity.

Unfortunately, there is no way to (reliably) get the list of profiles to work with, so it's really a configuration dialog that encourages signing in with `az login`.

![image](https://user-images.githubusercontent.com/

[2020-08-05 15:42] #269 closed, assigned to nobody

[2020-08-05 15:42] #281 closed, assigned to nobody

[2020-08-05 15:42] #328 closed, assigned to sdubov

[2020-08-05 15:42] #282 closed, assigned to nobody

[2020-08-05 18:37] #230 closed, assigned to sdubov

[2020-08-06 10:58] #204 closed, assigned to maartenba

[2020-08-06 11:01] maartenba opened #343 "Register application in Azure AD"
Need to (auto?)register application in Azure AD. @cmatskas may have more info on the `az cli` command to execute (or API to call) + other steps to register the application.

[2020-08-06 18:05] DerAlbertCom commented on #204
Having 2020.2 EAP 9 of Rider, i don't have the option. This is my Azure Toolkit Version

![image](https://user-images.githubusercontent.com/136992/89566272-2a647080-d820-11ea-8b8c-2670e8ef8d61.png)

[2020-08-06 18:12] maartenba commented on #204
Merged != Published ;-) Stay tuned for the coming week or two.

[2020-08-06 18:29] DerAlbertCom commented on #204
So, your now talking like Microsoft .... Hey, we this these plenty new cool feature available ... have fun with them ... in a couple of months 🤦 😺

[2020-08-06 20:56] sdubov commented on #336
@mlabisi, sorry for a long response. The general meaning for this error is that Java process was not able to get a necessary certificate. There are number of errors in logs related to Azure Auth when running Rider. Could you please give some more details on how do you login to Azure? What kind of login do you use - Active Directory, Device Code?

[2020-08-06 21:00] mlabisi commented on #336
Hi @sdubov, no worries! I use the Device Login method. Before, my browser would automatically open microsoft.com/devicelogin, but now the error in the screenshot I attached pops up. I have resorted to using `az login` on the command line for now, but I do miss being able to use the Device Login method!

[2020-08-07 05:17] maartenba commented on #204
Definitely not months, @DerAlbertCom :-) Couple more things we want to stabilize after merging in upstream changes from the IntelliJ toolkit, and then we'll get it out there.

[2020-08-07 21:58] sdubov commented on #336
Got it. Logs say that "AD" (Active Directory) option was selected as a login method:
`{ accountEmail: null, credFilePath: null, authMethod: AD, azureEnv: null }`.

Let's try to fix it first. The file should be in `C:\Users\<user_name>\.AzureToolsForIntelliJ\AuthMethodDetails.json`. You can whether delete it and the plugin will allow you to login on the next start or fix it to: `{"accountEmail":"<y

[2020-08-08 00:01] mlabisi commented on #336
I've tried implementing the changes, but it looks like they get overwritten every time I start Rider ☹

[2020-08-08 05:46] #84 closed, assigned to sdubov

[2020-08-08 05:47] #90 closed, assigned to sdubov

[2020-08-10 06:59] maartenba commented on #343
Proposed feature:

* For .NET Core web projects, provide a project action (solution explorer?) that can register/view the current application registration.
  * Reads and updates existing `AzureAD` section in `appsettings.json`
  * Use this API https://docs.microsoft.com/en-us/graph/api/application-post-applications?view=graph-rest-1.0&tabs=http
* When creating a new .NET Core web app with Azure au

[2020-08-11 13:48] maartenba commented on #72
https://twitter.com/MarcBeavan/status/1286624011917692928

[2020-08-13 07:09] #343 closed, assigned to maartenba

[2020-08-14 14:46] #113 closed, assigned to maartenba

[2020-08-15 19:45] DerAlbertCom commented on #204
@maartenba  it arrived, thank you ... i can sign in Rider (used the az login way, was allready logged in), but i can't select an subscription (az account set --subscription <SUBID>) also i'm not able to log out or change the account subscription or something else ;). Reset does not work.

Also the sentence for the Service Principal seems missing some words (an because I can logout, i can't send a

[2020-08-15 20:14] maartenba commented on #204
Sentence in configuration screen or...?

Subscription-wise, Rider only allows you to sign in to one AD tenant right now, so I think subscription doesn't really matter? (Examples that speak against me and that idea are always welcome)

[2020-08-15 23:07] DerAlbertCom commented on #204
Sentence in the Configuration Screen. I had ... resized the window, still ...

If the subscription is needed? Don't know ;)

Only one singed AAD User at a time I can live with that, but I can't change the current AAD User.

[2020-08-16 09:51] maartenba commented on #204
Got it, looks like it needs some word-wrapping.

Regarding subscription/account change, that will be az logout and az login, I'm afraid.

[2020-08-16 10:02] DerAlbertCom commented on #204
So, so Rider will now forever pickup the current az login? I'm not able to change to ServicePrincipal or Device Login on that machine? Can I logout and login while Rider is running? Will Rider pickup the new Login? Why is Rider me not showing the current login? Uh, so many questions on an Sunday ;) Sorry for that.

Why Rider gave me a dialog where I was able to select something (does not know what

[2020-08-16 10:18] maartenba commented on #204
Many questions, but most with the same answer :-) The Azure Explorer tool window has a logout button you can use (and where you can also re-login using service principal/device/...) If you pick az login, Rider will essentially use the current token from az, and lets you select subscriptions and resources in that context. That also means az is leading here, and Rider just piggybacks on the az conte

[2020-08-16 10:38] DerAlbertCom commented on #204
Ok, did not thought about the Azure Explorer, that works.

But when i can login with the preferences, then i should be able to logout from there, and it show the current subscription, and Name of the Account. Otherwise it is very confusing, at least for the old man which is typing these words.

Also, with the my current az login, I have access to three subscriptions.

After a fresh az login, rider

[2020-08-16 11:42] maartenba commented on #204
Tenants probably indeed, will have a look

[2020-08-17 09:42] maartenba commented on #204
Regarding tenant switching etc., this seems a bug in the Azure libraries. https://github.com/microsoft/azure-tools-for-java/issues/4555 - so for now, this is expected behaviour.

@DerAlbertCom For the configuration panel, would this be more clear? (work in progress)

![image](https://user-images.githubusercontent.com/485230/90382162-ad869180-e07e-11ea-9356-d68bc0e34465.png)

[2020-08-18 12:18] ilushka85 opened #354 "Latest Version Missing Run Icon in Source of a Function"
We used to be able to right click and run / debug a specific function as well as see the green run button to the left of the code.  This is now gone.  How can it be fixed?

[2020-08-18 13:13] maartenba commented on #336
Are things better with 2020.2? You may want to try sign in with the Azure CLI there as well.

[2020-08-18 13:22] maartenba commented on #354
@ilushka85 Rider will recognize your functions only when:
* Project file has the tools version specified, e.g. `<AzureFunctionsVersion>v3</AzureFunctionsVersion>`
* Project file has a reference to `Microsoft.NET.Sdk.Functions`
* Project contains a `host.json` file

Is it a project where this worked before, or a new one?

When the above is all good, would you mind to send us Rider logs and report t

[2020-08-18 13:57] ilushka85 commented on #354
All the above are true... and this is a project(s) that worked previously...
[rider-logs-20200818-085612.zip](https://github.com/JetBrains/azure-tools-for-intellij/files/5090793/rider-logs-20200818-085612.zip)

[2020-08-18 14:37] maartenba commented on #354
Thanks, we'll look into it!

In the meanwhile, could you try uninstalling the plugin, restart Rider, reinstall, restart again? I am suspecting part of the plugin wasn't picked up while loading.

[2020-08-18 17:36] mlabisi commented on #336
@maartenba That update did the trick! Thank you and @sdubov so much for your help!

[2020-08-18 17:36] #336 closed, assigned to nobody

[2020-08-18 17:51] ilushka85 commented on #354
Tried uninstall restarting and reinstalling and restarting and did not work

[2020-08-19 19:00] CGowdy opened #355 "Linked host.json file not recognized in configuration"
There is a shared host.json file that is share amongst many projects in a solution.  VS is able to run and start all the Azure Function projects however I'm not able to run one of the projects in Rider due to the configuration not seeing a file in the project directory.

![image](https://user-images.githubusercontent.com/7138395/90678477-59b5ad00-e224-11ea-903a-95d62607c083.png)

[2020-08-20 06:14] maartenba commented on #354
Was investigating #355, which could be related. @ilushka85, by any chance, is your `host.json` a linked file instead of a direct project item?

[2020-08-20 06:56] maartenba commented on #332
@mlabisi How does this look with 2020.2?

[2020-08-20 07:39] maartenba commented on #355
Plugin side code is now merged, there's a small change in Rider itself needed as well. https://youtrack.jetbrains.com/issue/RIDER-49556

[2020-08-20 12:07] ilushka85 commented on #354
It is not.

[2020-08-20 17:00] mlabisi commented on #332
Yes @maartenba, the issue I mentioned has been fixed! I closed [the issue I made](https://github.com/JetBrains/azure-tools-for-intellij/issues/336) a few days ago. Thanks again for the help!

[2020-08-20 20:06] maartenba commented on #332
@ShaunEgan how are things on your end with 2020.2?

[2020-08-21 13:44] ShaunEgan commented on #332
So far so good, I haven't had to change anything since updating to 2020.2.

[2020-08-21 14:59] maartenba commented on #332
Awesome, thanks! Feel free to re-open if the problem persists. Have a nice weekend!

[2020-08-21 14:59] #332 closed, assigned to sdubov

[2020-08-27 16:25] sdubov commented on #354
Hi @ilushka85. There are some checks behind gutter mark for Function method. Let's first understand if those conditions are true as well. We check method is "public", "static" and has attribute `Microsoft.Azure.WebJobs.FunctionNameAttribute`.  Could you please provide a signature for a method you use as a Function, so, we could check it on our side?

Could you also please check a latest Rider 2020

[2020-08-28 13:22] ilushka85 commented on #354
My methods are public and have the attribute added.  Again this worked in all of my solutions before but now it works in none.  Attached is the log
[idea.log.zip](https://github.com/JetBrains/azure-tools-for-intellij/files/5142263/idea.log.zip)

[2020-08-28 13:47] sdubov commented on #354
Thank you for checking @ilushka85. What plugin version did you use previously? We fully rewrote the gutter mark detection logic in `3.35.0.725-2020.2` version (migrated it from front-end to ReSharper backend side - https://github.com/JetBrains/azure-tools-for-intellij/pull/307). This could cause some issues with detection for edge cases.

[2020-08-30 02:05] ilushka85 commented on #354
3.40.0.879-2020.2

[2020-08-31 05:58] maartenba opened #357 "Merge upstream into 203"
* Has several other stability fixes
* Features (need to update changelog) and fixes that are relevant for us:
  * 3.43.0
    * Support SSH into Linux web app
    *  https://github.com/microsoft/azure-tools-for-java/issues/4555, which in turn fixes showing all subscriptions with `az login` in https://github.com/JetBrains/azure-tools-for-intellij/issues/204#issuecomment-674509986
  * 3.41.1
    * Fi

[2020-08-31 06:03] maartenba commented on #278
Closing this issue for now, after splitting in 2 separate issues.

[2020-08-31 06:03] #278 closed, assigned to sdubov

[2020-08-31 13:57] maartenba commented on #38
Closing for now, as the data is no longer exposed by underlying API's.

[2020-08-31 13:57] #38 closed

[2020-09-01 18:07] #46 closed

[2020-09-01 18:07] #87 closed, assigned to sdubov

[2020-09-02 13:27] ilushka85 commented on #354
The latest update solved the issue.

[2020-09-02 13:39] maartenba commented on #354
Nice, thanks for letting us know @ilushka85 !

[2020-09-02 13:40] ilushka85 commented on #354
Correction... after restarting again it no longer appears anymore.

[2020-09-03 11:16] ilushka85 commented on #354
Any updates on this issue ?

[2020-09-03 11:40] sdubov commented on #354
@ilushka85, unfortunately, idea logs does not contain logic for registering function app highlighters. Gutter marks are registered in a backend and I would like to check if required highlighter was registered in your Rider instance. Could you please attach `backend.log` as well from the run (with enabled tracing)?

[2020-09-03 13:02] ilushka85 commented on #354
Here are the backend logs

[Archive.zip](https://github.com/JetBrains/azure-tools-for-intellij/files/5168623/Archive.zip)

[2020-09-03 14:32] Michael-Anderlin opened #359 "Publish WebJob to azure functionality"
Hello,

Tx for your plugin, really great and useful !!!

Do you plan to add a run configuration to publish WebJob to azure in Rider ?
I need to switch to VS just to do it...

KR

[2020-09-03 14:59] maartenba commented on #359
You mean with functions? That should work, as well as publishing them as a web app.

[2020-09-03 15:54] sdubov commented on #359
Hello @Michael-Anderlin. Thank you a bunch for your feedback! :) We have some opened tickets for WebJobs deploy request - https://youtrack.jetbrains.com/issue/RIDER-34051. Not scheduled yet, but we will try to cover it with further changes in publish flow.

[2020-09-04 21:04] darioquintana opened #360 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Function Apps"
IntelliJ build version: 2020.2.1 RD-202.6397.268
OS: Mac OS X
JDK: JetBrains s.r.o. 11.0.7
Plugin version: 3.40.0.879-2020.2
Error message:
[code]

[2020-09-05 09:24] sdubov opened #361 "Function App project template miss icon"
<img width="321" alt="FunctionAppProjectTemplateIcon" src="https://user-images.githubusercontent.com/6064345/92302180-c47c1d80-ef72-11ea-84b9-8f4db028bece.png">

[2020-09-05 11:25] maartenba commented on #361
Which version of the core tools do you have installed?

[2020-09-05 12:25] sdubov commented on #361
`3.0.2881`. This is the one we install in a custom directory.

[2020-09-06 10:44] maartenba commented on #361
This should already be fixed in `202` and `203`, but not yet in the plugin release.

![image](https://user-images.githubusercontent.com/485230/92324090-aaa80c80-f03e-11ea-9729-3e875aa8c990.png)

Can you check in `203`?

[2020-09-08 17:52] ilushka85 commented on #354
Any updates on this issue?

[2020-09-09 10:53] sdubov commented on #354
@ilushka85, may I ask you for some additional info to debug the problem on our side? Could you please send me a minimal function example you are using (function signature with attributes)?

[2020-09-11 13:14] ilushka85 commented on #354
public  class AzureUserSync
    {
        private readonly UserSync _userSync;
        public AzureUserSync(UserSync userSync)
        {
            _userSync=userSync;
        }
        [FunctionName("AzureUserSync")]
        public async Task RunAsync([TimerTrigger("0 */5 * * * *")] TimerInfo myTimer, ILogger log)
        {
            await _userSync.SyncUsers();

        }
    }

[2020-09-14 11:37] sdubov commented on #354
Got it. We skip the DI function definition at the moment. `static` modifier is one of the thing that we check to show gutter mark for a method as I mentioned above. We will need to update the logic here. Thank you for investigation.

[2020-09-14 21:35] ilushka85 commented on #354
Is this a recent change ?  As it worked in previous version.

[2020-09-14 21:37] ilushka85 commented on #354
I can confirm that as soon as I insert the word static between public and async in the sample the green run icon appears.

[2020-09-15 10:08] sdubov commented on #354
It was here since we moved gutter marks highlighters from IDEA to R# process. It was released in `3.35.0.725-2020.2` plugin version.

[2020-09-15 13:39] #354 closed, assigned to sdubov

[2020-09-15 15:23] maartenba commented on #354
@ilushka85 We'll publish a plugin update in the coming weeks.

[2020-09-21 11:56] Andre-O opened #365 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Redis Caches"
IntelliJ build version: 2020.2.3 RD-202.7319.2
OS: Windows 10
JDK: JetBrains s.r.o. 11.0.8
Plugin version: 3.40.0.879-2020.2
Error message:
[code]

[2020-09-21 12:52] maartenba commented on #365
@Andre-O which type of credential are you using? Device flow or Azure CLI?

[2020-09-21 13:01] Andre-O commented on #365
Device flow

[2020-09-22 06:59] #340 closed, assigned to maartenba

[2020-09-22 07:00] maartenba commented on #361
Fixed in `202` and `203`

[2020-09-22 07:00] #361 closed, assigned to maartenba

[2020-09-22 08:03] maartenba commented on #355
Plugin update has been released. Enjoy!

[2020-09-22 08:03] #355 closed, assigned to maartenba

[2020-09-24 10:14] jtermine opened #368 "Conflict with alternate Markdown plugins"
I use the Markdown plugin called "Markdown Navigator Enhanced" by vladsch which I purchased.  I like for different reasons.  It conflicts with the Jetbrains standard Markdown plugin.

If I enable this Azure Tools for IntelliJ plugin, there is a hard dependency on the Jetbrains Markdown plugin.  If I don't enable it and opt instead for the one by vladsch, the entire Azure Tools plugin does not load

[2020-09-24 10:30] maartenba commented on #368
Good catch! Markdown is actually needed for the IntelliJ version of the plugin (https://github.com/microsoft/azure-tools-for-java), but in Rider we're not using this. Let me see if I can drop the dependency...

[2020-09-24 14:02] #368 closed, assigned to maartenba

[2020-09-24 14:02] maartenba commented on #368
FYI I have just published an updated version of the plugin

[2020-10-01 02:51] esplace opened #372 "Publish Azure Function App - enable search in the "Choose App" table"
Currently, it is not possible to search for specific records in the "Choose App" table. This is inconvenient if user has a lot of app records - you have to scroll through the entire list of apps to find the one you need manually.

It would be helpful if search was available for "Choose App"

[2020-10-01 10:10] sdubov opened #373 "Improve publish Web/Function App run configuration flow"
Currently, we have pretty "heavy" run configurations for publishing a web app or a function app to Azure portal. It currently contains:
- Publish to existing/new
- Logic to create new/use existing App Service Plan, Resource Group, etc.
- Database setup
- Settings

It all makes the run configuration flexible, but hard to manage. We need to improve the UX for publish behaviour.

[2020-10-01 10:11] sdubov commented on #372
TDB. Please note the #373. I think we might redo the overall publish behaviour and provide an ability for search.

[2020-10-02 15:11] maartenba commented on #96
For now, we'll go with Queues, and only for the Storage Emulator. PR incoming!

[2020-10-08 18:30] sdubov commented on #40
I think we can close it. Help in Settings navigates us to the general help page for Tools. This is a common behaviour for all settings pages. So, no changes needed.

[2020-10-08 18:30] #40 closed

[2020-10-23 08:02] sdubov opened #380 "Missing gutter mark icons for function apps in Rider EAP4 build"
[code]

Plugin build:
[code]

<img width="463" alt="MissingGutterMarkIcon" src="https://user-images.githubusercontent.com/6064345/96972435-2ee71e00-151f-11eb-9dee-fcd61a48e07d.png">

[2020-10-23 10:49] #380 closed, assigned to sdubov

[2020-10-27 17:56] sdubov opened #382 "Add Run/Debug Function App actions into Project context menu if applicable"
Currently, we use Function Gutter Mark for running Function App inside a project class. We need to understand if it might be useful to add context actions Run/Debug <Function App name> from project context menu in addition.

We need to check if project is applicable for running/debugging function app and then add those actions into the context.

Currently, we have no actions:

<img width="446" alt

[2020-10-27 20:04] sdubov commented on #382
Please see `LaunchSettingsRunConfigurationProducer` in Rider repo.

[2020-10-28 10:18] maartenba opened #384 "Update code for deprecated classes and methods"
[code]

[2020-11-01 18:09] #382 closed, assigned to maartenba

[2020-11-01 19:50] SeanFeldman commented on #382
Looking forward to this improvement!
Maarten gets another 🥇

[2020-11-13 07:58] maartenba opened #387 "Support for Azurite table storage settings"
Support for Azurite table storage settings.

Azurite table storage is [still in alpha](https://github.com/Azure/Azurite/releases/tag/v3.9.0-table-alpha.1), but if that version is installed we can support it.

[2020-11-16 07:56] #384 closed, assigned to maartenba

[2020-11-16 11:40] sdubov opened #391 "Azurite service should be stopped after closing the IDE"
**Steps to reproduce:**
1. Run Rider with Azure Toolkit plugin
2. Go to Services
3. Start Azurite and make sure it runs ("Storage Emulator" section is expanded in Azure Explorer)
4. Close the IDE
5. Re-open Rider and go to Services -> Azurite service is stopped
6. Run Azurite service again

**Expected:** Service is restarted with no errors. I think we should force stop the service when we terminat

[2020-11-16 14:43] #387 closed, assigned to maartenba

[2020-11-16 14:43] #391 closed, assigned to maartenba

[2020-11-20 20:57] #357 closed, assigned to sdubov

[2020-11-26 08:15] sdubov opened #397 "Add ability to create Web App Deployment Slots from Azure Explorer"
We have a Deployment Slot node available for Web App. We need to add an ability to create a Deployment Slot for a Web App if it is supported (Pricing Tier is Standard, Premium, or Isolated).

<img width="387" alt="AzureDeploymentSlots" src="https://user-images.githubusercontent.com/6064345/100324640-97bb2d80-2fd8-11eb-853b-73a54b7fd70c.png">

[2020-11-26 18:20] #397 closed, assigned to sdubov

[2020-11-30 08:55] #308 closed, assigned to sdubov

[2020-11-30 08:55] maartenba commented on #308
(done, right?)

[2020-11-30 10:06] sdubov commented on #308
Yes. Thank you.

[2020-12-01 16:02] #72 closed, assigned to sdubov

[2020-12-03 06:51] lx2222 opened #400 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Function Apps"
IntelliJ build version: 2020.1.2 RD-201.7223.10
OS: Mac OS X
JDK: JetBrains s.r.o 11.0.6
Plugin version: 3.35.0.651-2020.1
Error message:
[code]

[2020-12-03 08:24] sdubov opened #401 "Show Deployment Slots for Function Apps in Azure Explorer"
Currently, we show Deployment Slots in Azure Explorer for Web Apps only. It would be great to display slots for Function Apps as well.

<img width="390" alt="AzureExplorer_Function_DeploymentSlot" src="https://user-images.githubusercontent.com/6064345/100983260-22aca280-355a-11eb-89fa-c9dcd0f75dd9.png">

[2020-12-03 09:20] maartenba commented on #400
Seems like a transient error

[2020-12-03 16:46] marc-wilson opened #403 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Function Apps"
IntelliJ build version: 2020.2.4 RD-202.7660.16
OS: Mac OS X
JDK: JetBrains s.r.o. 11.0.8
Plugin version: 3.40.0.912-2020.2
Error message:
[code]

[2020-12-03 16:47] marc-wilson commented on #403
Everything else loads fine, just not functions.

[2020-12-03 18:20] maartenba commented on #403
Looks like #400

[2020-12-03 18:20] #403 closed, assigned to nobody

[2020-12-03 19:56] lx2222 commented on #400
I am having this issue for 3 days. And only functions apps cannot be fetched .

[2020-12-04 07:34] maartenba commented on #400
Could you give this a try with a newer version of Rider? (e.g. the latest early access preview of 2020.3 - www.jetbrains.com/rider/eap, can be installed side by side)

[2020-12-04 08:30] stefanolsenn opened #404 "Release schedule"
Hi,
Do you have a release schedule, or know when the next version of this plugin is official released?

[2020-12-04 08:47] maartenba commented on #404
Hi @stefanolsenn - soon!

Rider 2020.3 will be released in the coming week, and we plan to release a 2020.3 RTM of the plugin soon after. No promise as things may always change, but it looks like Dec 10 or 11.

That said, we have a Rider 2020.3 EAP version already which you can try today.

[2020-12-04 08:57] #401 closed, assigned to sdubov

[2020-12-04 09:01] maartenba commented on #404
Will close the issue for now, keep an eye on Rider and plugin updates next week ;-)

[2020-12-04 09:01] #404 closed, assigned to maartenba

[2020-12-04 10:40] stefanolsenn commented on #404
Thank you!

[2020-12-04 11:42] sdubov opened #406 "Deployment Slots and Logs/Files should be on the top in Function Node in Azure Explorer"
Currently, we have Function Sub Nodes (with an exact functions) sorted in Azure Explorer alphabetically. It cause the node looks the following way:

![AzureExplorer_Unsorted](https://user-images.githubusercontent.com/6064345/101159615-b9eb2600-363e-11eb-86d0-38ef2f2bcda2.png)

We need to make sure Deployment Slot and Files/Logs nodes are placed at the top

[2020-12-04 14:11] #406 closed, assigned to sdubov

[2020-12-04 14:14] sdubov commented on #337
As described in RIDER-48559, we decided to have icons for some actions (not all of them) because making an individual icons produce a lot of noise in the actions menu and hide important/common actions. Closing the ticket.

[2020-12-04 14:14] #337 closed, assigned to sdubov

[2020-12-04 14:18] sdubov commented on #80
@maartenba, we dropped Docker from Azure Explorer as deprecated with latest upstream merge (#357). Is this ticket still valid for us?

[2020-12-04 14:18] sdubov commented on #81
@maartenba, we dropped Docker from Azure Explorer as deprecated with latest upstream merge (#357). Is this ticket still valid for us?

[2020-12-04 16:13] maartenba commented on #81
No can be closed I think

[2020-12-04 16:13] #81 closed, assigned to nobody

[2020-12-04 16:14] #80 closed, assigned to nobody

[2020-12-06 12:20] sdubov opened #409 "Run function app configuration ignores "open in browser" browser setting"
**Steps to reproduce:**
1. Create a run configuration to launch a function app
2. Set checkbox
<img width="724" alt="OpenBrowser" src="https://user-images.githubusercontent.com/6064345/101279856-66abdb80-37d6-11eb-8201-4ec0379d38b3.png">

3. Run configuration

**Expected:** Browser is opened after starting a Run Configuration.
**Actual:** Browser is not opened.

[2020-12-06 13:41] sdubov commented on #409
@maartenba, hm. I cannot reproduce now ob latest build from trunk. Browser is opened after I run configuration.

[2020-12-07 07:24] maartenba commented on #409
Same here, it indeed works now. Can be closed I think.

[2020-12-07 07:42] #409 closed, assigned to nobody

[2020-12-11 02:51] kcootedinh opened #411 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Web Apps"
IntelliJ build version: 2020.3 EAP 10 RD-203.5981.86
OS: Windows 10
JDK: JetBrains s.r.o. 11.0.9
Plugin version: 3.40.0.971-2020.3
Error message:
[code]

[2020-12-11 08:35] sdubov commented on #411
Hi @kcootedinh. You Azure token has expired. As a workaround, please re-login to Azure account. On our side we better need to add some checks and jump to login page instead. Need to make this fix in upstream repo. Here is the related ticket - https://github.com/microsoft/azure-tools-for-java/issues/4605

[2020-12-11 09:04] kcootedinh commented on #411
Hi @sdubov,

I apologise I should have read the error a bit closer before filing this issue. I eventually did and re-authenticated.

Thanks for the kind response.

[2020-12-11 09:37] sdubov commented on #411
No worries, @kcootedinh. We could make a plugin more user-friendly for this case :) and suggest a solution rather then just showing an error. That's a valid issue. Thank you for reporting this!

[2020-12-13 16:35] jguadagno opened #413 "Azure Functions: Add support for .NET isolated worker"
Version [3.0.3160](https://github.com/Azure/azure-functions-dotnet-worker-preview) of the Azure Functions SDK adds support for .NET 5 within Azure Functions, via a console app.  However, the dialog box for the run/debug in Rider does not recognize the functions anymore. This is due to the Project file and executable type [changes](https://github.com/Azure/azure-functions-dotnet-worker-preview#func

[2020-12-14 16:33] maartenba commented on #413
Thanks for logging this one @jguadagno !

Some research from today (note to self):
* Rider Core needs updating to recognize Azure Functions .NET 5 projects [RIDER-55521](https://youtrack.jetbrains.com/issue/RIDER-55521)
* [Need to attach to innermost `dotnet.exe` when debugging](https://github.com/microsoft/vscode-azurefunctions/commit/010719623834e5c260a98d6e570f1c9a540833c0#diff-2bc50ea51ea5d338

[2020-12-16 06:06] sdubov opened #415 "java.lang.NullPointerException in AzuriteConfigurationPanel"
User cannot open Rider settings because of the exception:

[code]

[2020-12-16 06:27] sdubov opened #417 "Add integration tests for Rider Settings"
We need to add integration tests for Rider-specific functionality, like Settings, etc.
This should include:

1. Open Rider Settings on custom Azure pages (App Services, Functions, Service Authentication, Azurite)
2. Saving settings - ?
3. ...

[2020-12-16 06:33] maartenba commented on #415
Thanks for the fix!

[2020-12-16 09:28] #415 closed, assigned to maartenba

[2020-12-17 22:41] jack0fshad0ws opened #420 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Function Apps (Refreshing...) (Refreshing...)"
IntelliJ build version: 2020.3 RD-203.5981.141
OS: Windows 10
JDK: JetBrains s.r.o. 11.0.9.1
Plugin version: 3.46.0.1046-2020.3
Error message:
[code]

[2020-12-18 09:01] maartenba opened #421 "Extract (most) Azure project support into Azure Toolkit for Rider"
Extract (most) Azure project support into Azure Toolkit for Rider, to reduce the amount of duplicate work for classes that currently exist in Rider and in the plugin.

Issue in RIDER: https://youtrack.jetbrains.com/issue/RIDER-55609

[2020-12-18 13:26] st1pps opened #423 "Azure Toolkit for Rider: Deployment Slot setting is not saved"
JetBrains Rider 2020.3
Build #RD-203.5981.141, built on December 11, 2020
Runtime version: 11.0.9.1+11-b1145.24 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
.NET Framework 4.0.30319.42000
Windows 10 10.0
GC: ParNew, ConcurrentMarkSweep
Memory: 1450M
Cores: 16
Registry: ide.tree.horizontal.default.autoscrolling=false, performance.watcher.sampling.interval.ms=200, ide.tooltip.showAllSeveri

[2020-12-19 13:06] maffelbaffel opened #424 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading export"
IntelliJ build version: 2020.3 RD-203.5981.141
OS: Linux
JDK: JetBrains s.r.o. 11.0.9.1
Plugin version: 3.46.0.1046-2020.3
Error message:
[code]

[2020-12-19 13:35] maartenba commented on #365
https://github.com/microsoft/azure-tools-for-java/issues/1643

[2020-12-19 13:35] maartenba commented on #420
https://github.com/microsoft/azure-tools-for-java/issues/1643

[2020-12-21 13:29] #423 closed, assigned to maartenba

[2020-12-21 20:06] mochsner commented on #85
Are there any plans to implement this feature still?

[2020-12-29 19:20] tottes200 opened #428 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Storage Accounts"
IntelliJ build version: 2020.3.1 RD-203.6682.13
OS: Windows 10
JDK: JetBrains s.r.o. 11.0.9.1
Plugin version: 3.46.0.1054-2020.3
Error message:
[code]

[2020-12-30 08:12] ghost opened #429 "Azure Explorer toolkit not working after update of rider 2020.3 .1"
The azure explorer was working till I update the rider to the 2020.3.1 . Buid #RD-203-6682.13'

![image](https://user-images.githubusercontent.com/1625641/103338387-49e88800-4aa4-11eb-8c65-c93321f391ab.png)

I did the SigOut and SignIn, but still facing the same issue.

I can see I am signed In
![image](https://user-images.githubusercontent.com/1625641/103338491-96cc5e80-4aa4-11eb-9c38-02ba9fbaa39

[2020-12-30 09:55] maartenba commented on #429
@anandjaisy How are you signed in, with Azure CLI or device flow?

[2020-12-30 10:09] ghost commented on #429
@maartenba  Device flow

[2020-12-30 12:00] maartenba commented on #429
When you sign out and then in again, is a dialog shown to select subscriptions?

Could you try closing Rider, then remove `$HOME\.AzureToolsForIntelliJ` (e.g. `C:\Users\you\.AzureToolsForIntelliJ` on Windows)

[2020-12-30 12:06] ghost commented on #429
No, the dialog doesn't show any subscriptions I get the error over there only. What is the location for AzureToolsForIntelliJ on MAC ?

[2020-12-30 12:12] maartenba commented on #429
That would be `$HOME/.AzureToolsForIntelliJ`

[2020-12-30 12:27] ghost commented on #429
$HOME/.AzureToolsForIntelliJ this location doesn't seem to be there on my machine.

![image](https://user-images.githubusercontent.com/1625641/103351258-a52c7180-4ac8-11eb-8b09-0397e9b20f65.png)

Doesn't navigate anywhere

[2020-12-30 12:42] maartenba commented on #429
Perhaps as `~/.AzureToolsForIntelliJ`?

[2020-12-30 13:04] ghost commented on #429
After delete the folder, same issue I am facing.

[2020-12-30 13:09] maartenba commented on #429
Would you mind trying with Azure CLI login instead?

[2020-12-30 14:01] sdubov commented on #429
@anandjaisy, could you please send us `frontend.log` file (`Help | Diagnostic Tools | Show Log in Finder`)? You can find an extra instruction how to send them to us privately [here](https://rider-support.jetbrains.com/hc/en-us/articles/360001079770-How-to-collect-Rider-logs-).

[2020-12-30 14:20] ghost commented on #429
Done, should be in the new support request

[2020-12-30 15:04] sdubov commented on #429
Thank you @anandjaisy for sharing. I've checked the log. It shows the issue with gathering valid Azure subscription when you try to login. Let's try to step backward first. Could you please confirm that you could login to web `portal.azure.com` using the same subscription?

Similar reports from origin:
- https://github.com/microsoft/azure-tools-for-java/issues/4790
- https://github.com/microsoft/a

[2020-12-30 15:26] ghost commented on #429
@sdubov Yes I can, I was able to log in as well before the rider update. After the rider update to the latest version, I am not able to publish to Azure.

![Screen Shot 2020-12-30 at 8 51 25 pm](https://user-images.githubusercontent.com/1625641/103363556-5c34e700-4ae1-11eb-9247-cbf02838a43d.png)

[2020-12-30 15:51] maartenba commented on #429
Let's see what those two tickets with Microsoft bring.

In the meantime, could you try Azure CLI?

[2020-12-30 21:46] ghost commented on #429
With Azure CLI, it is working fine

[2020-12-31 09:18] maartenba commented on #429
Thanks! We'll investigate further, but happy to hear you are unblocked for now.

[2021-01-08 13:58] pazunino opened #432 "[Rider] Publish to a virtual application inside app service"
Hi,
I can't find the way to publish directly to a virtual application, I have to move via ftp the files published to the physical path.
Is there any functionality that I am missing?
Thanks

[2021-01-12 03:55] jack0fshad0ws opened #433 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Container Registries"
IntelliJ build version: 2020.3.2 RD-203.6682.21
OS: Windows 10
JDK: JetBrains s.r.o. 11.0.9.1
Plugin version: 3.46.0.1054-2020.3
Error message:
[code]

[2021-01-13 12:50] Socolin opened #434 "TimerTrigger also support TimeSpan string"
Hello

The plugin is marking this as an error but following the doc it seems to be valid for some cases.

![image](https://user-images.githubusercontent.com/539620/104454367-bcad3500-5573-11eb-80d3-0c2a2200e89d.png)

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#timespan

[2021-01-13 16:43] khaosans opened #436 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Container Registries"
IntelliJ build version: 2020.3 RD-203.5981.141
OS: Windows 10
JDK: JetBrains s.r.o. 11.0.9.1
Plugin version: 3.46.0.1054-2020.3
Error message:
[code]

[2021-01-14 12:26] sdubov commented on #433
@jack0fshad0ws, thank you for report. Could you please check if the issue is reproduced after re-login?
Related issue in upstream repo - https://github.com/microsoft/azure-tools-for-java/issues/4615

[2021-01-14 12:49] sdubov commented on #436
Hi @khaosans. It looks like a login token is not valid. Could you please try to re-login to the Azure from plugin and let me know if it helps?

[2021-01-14 18:05] #434 closed, assigned to maartenba

[2021-01-20 19:20] esplace opened #437 "Publishing can fail if the project takes over 3 minutes to build"
Due to the inflexible timeout, if the user attempts to publish a project that takes too long to build, the publishing will fail. This behavior makes it impossible to publish an app using the plugin.

It would be helpful if build and upload timeouts were configurable to avoid this issue.

[2021-01-21 07:18] sdubov commented on #437
We have two timeouts in this scope:
1. Timeout for preparing publishable package from a selected project (3 mins)
2. Timeout for pushing prepared package over a network to Azure servers (3 mins)

Preparing package step calls msbuild task. This issue is caused by timeout while preparing a package task. It looks like we need to make more flexible approach for projects that might take long time (conf

[2021-01-26 12:53] dperber commented on #429
Any update on this?

[2021-01-26 15:11] maartenba commented on #429
@dperber Not at the moment. Using Azure CLI is the currently recommended workaround.

[2021-01-29 15:12] khalidabuhakmeh opened #438 "Better error messages when auth fails"
When calling the `SubscriptionManager.updateAccountSubscriptionList` method, there is a chance that the call to Azure could fail with a few error codes.

These error codes and messages can be surfaced to help users make a decision as to what to do next.

### In Rider

![image](https://user-images.githubusercontent.com/228256/106291545-c4c6cf00-6219-11eb-9ee1-68a14fe047b0.png)

### In The Logs

![i

[2021-01-29 15:52] maartenba commented on #411
Going to close this specific one in favour of #438 ("better error messages")

[2021-01-29 15:52] #411 closed, assigned to nobody

[2021-01-29 15:53] maartenba commented on #438
Note to self: somewhat related in upstream: https://github.com/microsoft/azure-tools-for-java/issues?q=is%3Aissue+is%3Aopen+ioexception

[2021-01-29 16:00] maartenba commented on #436
Need to show better errors #438

[2021-01-29 16:01] maartenba commented on #428
Could not reproduce this one. @tottes200 are you still seeing this error?

[2021-01-29 16:02] maartenba commented on #400
@lx2222 Are you still seeing this issue in Rider 2020.3 ?

[2021-01-29 16:03] maartenba commented on #360
Need to show better errors #438

[2021-01-29 16:03] maartenba commented on #206
Need to show better errors #438

[2021-01-29 16:04] maartenba commented on #438
All of the linked issues should be caught and shown as user-retryable/user-fixable (e.g. account error).

[2021-01-30 22:39] khaosans commented on #436
Yea, it was a token issue dealing with my .azure credentials.    Removing the existing credentials and doing a simple `az login` from the command line will regenerate my credentials.  Thanks!

[2021-01-30 22:39] #436 closed, assigned to nobody

[2021-01-31 00:31] lingjiexu commented on #400
@maartenba I do not have a chance to upgrade Rider, but I am still having issue in 2020.1.2.

[2021-02-03 07:55] megant commented on #85
It's a must have in 2021.

[2021-02-04 13:46] doshub opened #440 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading SQL Databases"
IntelliJ build version: 2020.3.2 RD-203.6682.21
OS: Mac OS X
JDK: JetBrains s.r.o. 11.0.9.1
Plugin version: 3.46.0.1054-2020.3
Error message:
[code]

[2021-02-04 15:20] maartenba commented on #440
Duplicate of #438 in terms of surfacing the `Authorization is required, please sign out and sign in again` message better

[2021-02-04 15:20] #440 closed, assigned to nobody

[2021-02-04 22:00] nikonov91-dev opened #441 "How to set run/debug configurations of Azure Functions in python project"
How to set up the run/debug configuration of **Azure Functions** for **Run Functions**

![Screenshot at Feb 04 23-43-55](https://user-images.githubusercontent.com/31586394/106959086-e0af0100-6742-11eb-8390-9f1efc96682e.png)

Cannot find information how to set up Azure-tools plugin for Intellij because neither Azure-tool plugin docs for python does not exist nor at [Stackoverflow](https://stackover

[2021-02-05 07:23] maartenba commented on #441
Hi @nikonov91-dev, unfortunately the plugin works only in IntelliJ IDEA on Java/Kotlin code, and in Rider on anything .NET.
I'll let the PyCharm folks know, but will close this issue for now.

As a workaround (I haven't tested this), you can try to run `func start`, wait for the process to be launched, and then [Attach To Process](https://www.jetbrains.com/help/pycharm/attaching-to-local-process.h

[2021-02-05 07:23] #441 closed, assigned to nobody

[2021-02-05 07:49] nikonov91-dev commented on #441
I'm asking about **_Intellij_**, not PyCharm and exactly about this Azure-toolkit plugin (not any new one)
It would be nice if the team that worked on this plugin answer me how to fill in these fields.

[2021-02-05 08:17] maartenba commented on #441
@nikonov91-dev that would be Microsoft (https://github.com/microsoft/azure-tools-for-java), this repo is our fork to support Rider

[2021-02-08 06:12] sdubov commented on #421
@maartenba, the Rider issue is resolved. Can we close this ticket now?

[2021-02-08 06:16] sdubov commented on #432
Hi @pazunino. Unfortunately, currently there is no such option in plugin. We publish the whole application as a single package via Azure Kudu service.

[2021-02-08 07:46] #421 closed, assigned to maartenba

[2021-02-10 13:51] fearhq opened #444 "Rider 2021.1 EAP support"
Is it possible to update the plugin to support rider 2021.1 EAP?

[2021-02-10 15:04] maartenba commented on #444
@fearhq Being worked on, this should be available soon (current estimate is this week, but this is not a promise ;-))

[2021-02-10 16:10] sdubov opened #445 "Show editor warning about missing NuGet Packages instead of installing them automatically"
Previous thought:
We have an action to create new Function items. We need to run required NuGet Packages install after adding a particular Function item template. Currently, we listen for a VFS create event - `AzureCoreToolsMissingNupkgInstaller.kt`. I think we rather could just add an extension point for logic to be executed after create from template action is performed and run this post action

[2021-02-10 16:31] maartenba commented on #444
@fearhq There you go :-)
https://plugins.jetbrains.com/plugin/11220-azure-toolkit-for-rider/versions/stable/110509

(or check plugin updates in Rider)

[2021-02-10 16:31] #444 closed, assigned to maartenba

[2021-02-15 09:01] maartenba commented on #149
https://plugins.jetbrains.com/plugin/11220-azure-toolkit-for-rider/reviews#review=49901

[2021-02-19 15:53] #149 closed, assigned to maartenba, sdubov

[2021-02-22 15:43] maartenba commented on #428
Closing this issue for now as we were not able to reproduce it. Feel free to re-open it if you see this happening again.

[2021-02-22 15:43] #428 closed, assigned to nobody

[2021-03-03 14:31] xsoheilalizadeh opened #451 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Logs"
IntelliJ build version: 2021.1 EAP 5 RD-211.6222.2
OS: Windows 10
JDK: JetBrains s.r.o. 11.0.10
Plugin version: 3.46.0.1094-2021.1
Error message:
[code]

[2021-03-05 06:42] maartenba commented on #451
@xsoheilalizadeh can you provide some of the steps that you executed prior to this?

[2021-03-05 10:42] maartenba opened #452 "Device login - Subscription lookup improvements"
When using device login, fetching subscriptions fails if there is a tenant you don't have access to.
The error can be shown in the error log, but ideally subscription selection should be possible for tenants you do have access to.

Relates to #438

[2021-03-08 02:34] adrynalyne commented on #149
Even though this is closed and listed as available in the Feb. 19th release, I still do not have the ability to display and publish to API type App Services.

[2021-03-08 06:37] maartenba commented on #149
It's in the Early Access Preview version of Rider (,which will release as stable near the end of the month).

You can try it if you would like - www.jetbrains.com/rider/eap

[2021-03-08 08:47] maartenba opened #455 "Merge upstream into 211"
Merge upstream `master` into `211`.

This brings:
* https://github.com/microsoft/azure-tools-for-java/releases/tag/azure-intellij-toolkit-v3.47.0
  * Add Azure Database for MySQL support in Azure Toolkits
    * Manage Azure Database for MySQL instance (create/start/stop/restart/configure/show properties)
    * Configure Azure Database for MySQL to allow access it from azure services and local PC

[2021-03-22 02:13] siberianbot opened #459 "Rider may hang on loading screen due to exception"
Recently I've upgraded Rider to 2020.3.4 with all plugins (including Azure Toolkit plugin). Rider hangs on loading screen with the following logs:
[code]

But Rider stopped behaving incorrectly after Azure Toolkit plugin was removed. Could you investigate this issue?
I also tried to re-install Rider, but it does not affect at all.

[2021-03-22 08:51] maartenba commented on #459
Could you try re-installing the Azure Toolkit in Rider, and see if the issue returns? It looks like a corrupt installation.

[2021-03-22 14:14] MarcinZiabek opened #462 "[Rider][ReportedByUser] MS Azure Explorer - Error Loading Resource Management"
Following the message, I have already tried several times to sign out and sign in again. I have also restarted Rider, and even my PC. This problem repeats for several days now. Every time I get the message that my login was successful (on the MS webpage). However, Rider is still complaining that I can not be authenticated.

IntelliJ build version: 2020.3.3 RD-203.7148.23
OS: Windows 10
JDK: JetBra

[2021-03-22 14:45] maartenba commented on #462
@MarcinZiabek Looks like this  will be solved with https://github.com/JetBrains/azure-tools-for-intellij/pull/453 (in progress)

For now, can you try using the Azure CLI authentication method in Rider?

[2021-03-22 14:46] maartenba commented on #438
#462

[2021-03-23 07:38] maartenba opened #463 "Exception in FileEditors - implement getFile"
In current `211`, the below exception occurs. We need to implement `getFile()` on all editors.
Similar upstream commit: https://github.com/microsoft/azure-tools-for-java/pull/5011/commits/b4d42778be6c69dc5cc47397bd15519d5131d2ab

[code]

[2021-03-23 10:05] MarcinZiabek commented on #462
I forgot to mention that this particular functionality was working for me for months. It just suddenly stopped working. Maybe it is a regression issue introduced in one of the latest plugin updates? Anyway, I am glad that the team is aware of the problem and preparing the fix - thank you very much for all your help and support.

@maartenba I did as suggested - logged in using Azure CLI. Rider succ

[2021-03-29 05:42] #463 closed, assigned to maartenba

[2021-03-29 07:28] #438 closed, assigned to maartenba

[2021-03-29 07:28] #452 closed, assigned to maartenba

[2021-03-29 07:28] maartenba commented on #462
This behaviour will be improved with the 2021.1 release.

[2021-03-29 07:28] #462 closed, assigned to nobody

[2021-03-29 07:29] maartenba commented on #360
This behaviour will be improved with the 2021.1 release.

[2021-03-29 07:29] #360 closed, assigned to nobody

[2021-03-29 07:29] maartenba commented on #206
This behaviour will be improved with the 2021.1 release.

[2021-03-29 07:29] #206 closed, assigned to nobody

[2021-03-29 17:13] kbsoftwarellc commented on #437
Do we have any known workaround for the issue? I've currently still had to open visual studio community 2019 when I want to deploy due to it timing out during build. Is there a source code I can download and change to 10 minutes or something and import in place of the current plugin?

[2021-04-01 07:24] maartenba opened #466 "Publish as self-contained application and set runtime identifier"
When publishing a web application, make it possible to publish as a self-contained application.
https://twitter.com/vijayankit/status/1377519520810606592

Details:
https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli#self-contained-deployment
https://docs.microsoft.com/en-us/dotnet/core/deploying/
https://stackoverflow.com/questions/55206607/deploy-a-self-contained-net-core-appli

[2021-04-01 07:34] maartenba commented on #466
Current workarounds:

Alternative 1: add `<RuntimeIdentifier>linux-x64</RuntimeIdentifier>` to project file and use the Azure plugin's publish options

Alternative 2: use FTP publish, and pick the target runtime identifier here:
![image](https://user-images.githubusercontent.com/485230/113259493-7a230b00-92cd-11eb-867f-4f1b267d183b.png)

[2021-04-12 06:27] maartenba opened #468 "Ensure Azurite process has environment variables loaded, if present"
Ensure Azurite process has environment variables loaded, if present

https://github.com/Azure/Azurite

* AZURITE_ACCOUNTS
* AZURITE_DB

[2021-04-12 07:07] oliadia opened #470 "Unable to customize command to run azurite storage"
I set AZURITE_ACCOUNTS to .zshrc, but It didn't work using Azurite Storage Emulator in the Services Tab. It generates a default container.
P.S. I succeeded to run custom storage using Terminal.

[2021-04-12 07:46] sdubov commented on #470
Duplicates #468. Closing.

[2021-04-12 07:47] #470 closed, assigned to nobody

[2021-04-12 13:52] #455 closed, assigned to sdubov

[2021-04-12 16:32] #468 closed, assigned to maartenba

[2021-04-14 22:37] daggmano commented on #459
I've also encountered this issue. Without being able to start Rider, how can I update / reinstall Azure Toolkit? Do I need to completely remove Rider and reinstall?

[2021-04-20 17:05] jochensiegler opened #478 "Cannot debug on Windows 10 when Azure Core Tools are installed with Chocolatey"
I can not debug Azure Functions Projects on 2 Machines with Windows 10.
On my Mac it works.
On the Windows Machines also run the project does work.
In debug mode i got the Error:
"C:\Program Files (x86)\JetBrains\JetBrains Rider 2021.1.1\lib\ReSharperHost\JetBrains.Debugger.Worker.exe" --mode=client --frontend-port=54623 "--plugins=C:\Program Files (x86)\JetBrains\JetBrains Rider 2021.1.1\plugins\

[2021-04-20 17:33] maartenba commented on #478
Thanks for reaching out @jochensiegler ! Would you have some more details for us?

* Which version of the Azure Core Tools are installed? Did you install them from within Rider, or using NPM?
* Is this a project using.NET 3.1, or .NET 5 / isolated worker?

We may need some more info, but the above should be a good start :)

[2021-04-20 17:50] jochensiegler commented on #478
First of all, thank you for the quick answer.
I noticed it when i installed the latest version via the built in  Rider plugin management. Then I downloaded all versions that work according to the version history for 2021.1.1 and installed them manually from the downloaded zip-file.
The project is a netcoreapp3.1.
I also created a new, empty project in which there is only one http trigger

[2021-04-21 07:46] maartenba commented on #478
That's quite strange. Would you mind emailing me on maarten at jetbrains.com so we can arrange a quick screen share? (I'm in CEST time zone)

[2021-04-21 09:23] maartenba commented on #478
Thanks @jochensiegler for helping with troubleshooting this one!

Looks like this happens when the Functions Core Tools are installed with Chocolatey and the debugger attaches to their wrapped executable.

# Workaround

Go to Rider settings, and under `Tools | Azure | Functions`, install the functions core tools in Rider. Make sure the core tools path no longer points to the version installed with

[2021-04-21 14:10] maartenba commented on #478
## Repro steps:

1. Install Chocolatey, and the [Azure Function Core Tools
3.0.3442](https://community.chocolatey.org/packages/azure-functions-core-tools) package.
2. Launch Rider with the Azure plugin installed, and created a new Azure Functions project.
3. Debug the default run configuration
4. Observe the following output written to the debugger:

![image](https://user-images.githubusercontent.

[2021-04-21 14:16] maartenba commented on #413
Open items:
- [x] Project template support
- [x] Item template support
- [x] Gutter marks (run/debug)
- [x] Code completion for timer trigger schedule
- [x] Debugging
- [x] Merge changes back to 2021.1

[2021-05-04 08:21] maartenba opened #488 "host.json should not be patched when function names are empty"

[2021-05-04 13:31] #488 closed, assigned to maartenba

[2021-05-12 09:42] maartenba commented on #478
In the meantime: Chocolatey installs the x86 version of Azure Functions Core Tools by default. If you install the 64-bit version, this will all work fine:

`choco install azure-functions-core-tools --params "'/x64'"`

[2021-05-18 15:58] #478 closed, assigned to maartenba

[2021-05-19 07:04] maartenba commented on #413
This is now available in the latest plugin version (https://plugins.jetbrains.com/plugin/11220-azure-toolkit-for-rider)

If you want to use isolated worker project templates, you may delete the current project template and click *Reload* to bring them in.
![image](https://user-images.githubusercontent.com/485230/118770093-36865f80-b881-11eb-9eb4-05b05b23b198.png)

[2021-05-19 07:04] #413 closed, assigned to maartenba

[2021-05-19 08:07] maartenba opened #491 "Azure Functions - Isolated Worker - Better handle host startup error"
Right now if an error occurs during startup, we wait for the full timeout before showing a result (as we wait for `<PID>`). This should be handled better: if startup fails, show console and stop debugging.

[2021-05-20 11:13] maartenba opened #493 "Update backend project to `netstandard2.0` or `net472`"

[2021-05-24 19:48] qsevers23 commented on #55
I'm currently attempting to publish a .net 5 web project as an Azure App Service, however it has several project dependencies that are still on .NET Framework. When I attempt to publish, it fails with the following error on all the projects within the Rider Build window:

`The BaseOutputPath/OutputPath property is not set for project '<project>.csproj'.`

Could this be related/caused by this issue

[2021-05-27 12:15] maartenba opened #494 "Update Gradle IntelliJ plugin"
https://lp.jetbrains.com/gradle-intellij-plugin/

[2021-05-28 11:17] DronVelikii opened #495 "Cannot view queues via Azure Explorer"
When I click on any action, for example "View Queue", nothing happens.

In frontend.log log I see the following:
`class com.microsoft.tooling.msservices.model.storage.ClientStorageAccount cannot be cast to class com.microsoft.azure.management.storage.StorageAccount (com.microsoft.tooling.msservices.model.storage.ClientStorageAccount and com.microsoft.azure.management.storage.StorageAccount are in

[2021-05-31 12:44] #491 closed, assigned to maartenba

[2021-05-31 13:59] maartenba commented on #495
An updated plugin has been released, can you try updating in Rider?

[2021-05-31 13:59] #495 closed, assigned to maartenba

[2021-05-31 14:57] DronVelikii commented on #495
@maartenba thanks a lot, it helped!

[2021-06-09 00:21] AdamCoulterOz opened #498 "SSH into Web App Error"
There seems to be a problem using the SSH feature for Azure Web App.

I get an error saying:

![image](https://user-images.githubusercontent.com/6822248/121273461-ac736900-c90b-11eb-851c-1f4841e2ad8d.png)

I do have az cli installed, and have confirmed it is logged in with the same account. Here is the system details:

[code]

[2021-06-09 05:20] maartenba commented on #459
@sdubov This was fixed in Rider, right?

[2021-06-09 06:40] maartenba commented on #498
Hi @AdamCoulterOz - in Rider, can you check if you are signed in with the Azure CLI as well? (Tools \| Azure \| Sign out, then sign in, and make sure Azure CLI is selected).

Under the hood, Rider executes `az account list`, and checks if the subscription id in which the web app is hosted is in the output.

Note to self: looks like it may be a duplicate of https://github.com/microsoft/azure-tools-

[2021-06-10 07:20] maartenba opened #499 "Azure Functions - Default/Isolated in .NET 6 - Update wording"
Looks like both the default model and isolated worker model will keep existing with .NET 6 - https://github.com/Azure/Azure-Functions/wiki/V4-early-preview?s=03

In the plugin:
* Remove mentions of ".NET 5" with isolated worker, as this will work with .NET 6 as well
* Add `v4` as a supported value for `AzureFunctionsVersion` in project file

[2021-06-14 20:01] alm0st907 opened #501 "Functions Inconsistent Debugging Experience"
I am debugging an Azure Function which is using the preview OpenAPI support.

After doing a clean and rebuild Rider, I will get this, trying to visit the /api/swagger/ui endpoint
`Could not load file or assembly 'Microsoft.Azure.WebJ
obs.Extensions.Http, Version=3.0.12.0`

If I do the equivalent in Visual Studio 2019 (most recent updates all installed) I can hit the same endpoint, for the same cod

[2021-06-14 20:05] alm0st907 commented on #501
On a fresh project, this seems to not be the case. I will dig deeper and re-open if relevant.

[2021-06-14 20:05] #501 closed, assigned to nobody

[2021-06-17 15:47] coleman-rik commented on #204
Sounds like a nice idea, but I am running into a *major* problem.  Your solution is based on Azure CLI's az login functionality.  This expressly doesn't work if your company has set up your azure login to require multi-factor authentication (MFA).  Is the some way to incorporate this feature natively, like Visual Studio (VS)?  I can log into my Azure account in VS, MFA and all.

thanks.

[2021-06-18 06:15] maartenba commented on #204
@coleman-rik Could you try with the approach outlined in https://github.com/Azure/azure-cli/issues/6962#issuecomment-593844966 ?

[2021-06-21 07:32] maartenba opened #502 "Azure - New logo"
Azure has a new logo - do we need to update our icons and other artwork?
https://azure.microsoft.com/en-us/blog/a-fluent-new-look-for-the-azure-icon/

[2021-06-21 07:49] maartenba commented on #502
Icons to be updated: [icons-to-update.zip](https://github.com/JetBrains/azure-tools-for-intellij/files/6684990/icons-to-update.zip)

[2021-06-25 18:00] hdsheena opened #503 "Requires IDE 211.* or older"
I assume this is an issue because I'm on the EAP, any idea when it will be compatible?

JetBrains Rider 2021.2 EAP 1
Build #RD-212.3116.52, built on May 28, 2021
Rider EAP User
Expiration date: June 27, 2021
Runtime version: 11.0.11+9-b1460.1 x86_64
VM: Dynamic Code Evolution 64-Bit Server VM by JetBrains s.r.o.
macOS 11.5
.NET Core 5.0.5
GC: G1 Young Generation, G1 Old Generation
Memory: 1500M
Co

[2021-06-25 18:06] hdsheena commented on #503
Nevermind, I found the related work, sorry!

[2021-06-25 18:06] #503 closed, assigned to nobody

[2021-06-28 22:21] coleman-rik commented on #204
Sorry, but that's not really a solution, requiring a separate manual login before trying to develop in Rider is tedious and doesn't actually work.  After installing the latest version of the az cli command, I enter **az login** and the default web browser opens prompting me to login.  After doing so, I get a listing of my available resources on the command line and confirmation in the browser that

[2021-07-07 18:40] maartenba opened #504 "Azure Functions - Hide "Use external console for Isolated worker"
Since we need to read process output, we can not run in external console. Isolated worker will always need to run in the Rider integrated terminal.

Also hide the option in run configuration.

[2021-07-16 07:49] maartenba opened #506 "Azure Functions - Go to function / Search Everywhere"
Functions are usually called `Run` or something like that, but the `[Function(...)]` and `[FunctionName(...)]` attribute gives them a meaningful name. Can we add "Go to function"/"Search everywhere" support to navigate to a function?

@sdubov do you think this is feasible?

[2021-07-21 21:33] #493 closed, assigned to nobody

[2021-07-21 21:33] #494 closed, assigned to nobody

[2021-07-22 07:25] #459 closed, assigned to maartenba

[2021-07-22 08:05] #499 closed, assigned to maartenba

[2021-07-22 08:45] katjoek opened #511 "Rider doesn't start after update to latest version of this plugin"
**Problem**
Rider doens't start after plugin update.

**What I did**
Rider told me an update was available for the Azure ToolKit for Rider and for NSubstitute.Complete. I performed the update. After that, Rider wouldn't start any more. It hangs in the splash screen. When disabling the Azure Toolkit plugin, Rider starts again.

**What I expect**
Rider to be able to start with all installed plugins

[2021-07-22 09:00] maartenba commented on #511
Hi, please check https://youtrack.jetbrains.com/issue/RIDER-65522 for more information. A workaround is listed here: https://youtrack.jetbrains.com/issue/RIDER-65522#focus=Comments-27-5063893.0-0

[2021-07-22 09:00] #511 closed, assigned to nobody

[2021-07-25 01:53] bijanmir opened #513 "Azure Toolkit not showing up in Rider Marketplace nor can it be installed manually from disk - Macbook M1 Pro - Rider 2021.2 EAP 6"
There is no support for Azure Toolkit on this version of RIDER EAP? I cannot find it on plugin marketplace nor can I install from disk when I download latest version of Azure Toolkit from the website.

Rider EAP JetBrains Rider 2021.2 EAP 6
Build #RD-212.4638.18, built on July 7, 2021
Rider EAP User
Expiration date: August 6, 2021
Runtime version: 11.0.11+9-b1504.8 aarch64
VM: Dynamic Code Evoluti

[2021-07-25 09:02] maartenba commented on #513
The 2021.2 version of the plugin currently supports eap7 and higher, it will indeed not install in eap6.

[2021-07-25 10:05] #513 closed, assigned to nobody

[2021-07-26 07:44] #445 closed, assigned to maartenba, sdubov

[2021-07-28 10:48] jgranger36 opened #514 "Can not login to azure in Rider using azure tools"
similar issues #332

when attempting the azure sign in process, i get no pop up for device login for azure cli. no response at all. I saw the above issue and checked the authmehtodetail.json file and all values are null including the authMethod. i attempted to add "DC" as the authMethod and save the file, but everytime i open the Azure service authentication screen that file is updated with a null

[2021-07-28 11:44] maartenba commented on #514
@jgranger36 Where did you originally start the sign in process? Did you select device login or Azure CLI?

[2021-07-28 11:47] jgranger36 commented on #514
i chose device login first and then tried the cli option.

[2021-07-29 07:15] maartenba commented on #514
If you can reproduce the issue, would you mind sending us Rider logs and report them? (see https://rider-support.jetbrains.com/hc/en-us/articles/360001079770-How-to-collect-Rider-logs- )

[2021-07-29 12:16] maartenba opened #515 "Azure Functions - Show HTTP endpoints in Endpoints tool window"
Related to #506, show HTTP endpoints in Endpoints tool window

[2021-07-30 18:46] #504 closed, assigned to maartenba

[2021-08-02 10:04] mk-qa opened #518 "Unable to login through Settings | Tools | Azure | Service Authentication"
JetBrains Rider 2021.2 RD-212.4746.114
Azure Toolkit for Rider 3.50.0.1253-2021.2

**STR:**
1. Open `File | Settings | Tools | Azure | Service Authentication`
2. Click "Sign In"
3. Choose "Azure CLI" or "Device Code" and click "Sign In"

**Actual:**
Nothing happens.

[2021-08-02 13:38] maartenba commented on #518
Seems like a potential duplicate of https://github.com/JetBrains/azure-tools-for-intellij/issues/514

[2021-08-02 13:59] maartenba commented on #514
@jgranger36 Did you try the initial sign in from the settings here?

![image](https://user-images.githubusercontent.com/485230/127873538-fa8e1859-558c-4a38-8adb-e09f9769634b.png)

[2021-08-02 17:34] #518 closed, assigned to maartenba

[2021-09-16 08:34] profimedica commented on #271
Still not fixed. I get Response code: 400. Response message: Bad Request.

Collecting 'Ajuro.Micro.Public' project artifacts...
Creating 'Ajuro.Micro.Public' project ZIP...
Project ZIP is created: '/tmp/rider-publish11578605463174886711.zip'
Stop Web App 'OtbExpert'...
Publishing ZIP file. Attempt 1 of 3...
Publishing ZIP file. Attempt 2 of 3...
Publishing ZIP file. Attempt 3 of 3...
Fail publishi

[2021-09-28 13:16] maartenba opened #520 "Support 2021.3 EAP1"

[2021-09-29 09:58] #520 closed, assigned to maartenba

[2021-09-29 10:09] vardansargsyan92 opened #522 "Plugin incompatible with Rider EAP 2021.3"
An early access of rider has been released with **UWP debugging** support which is nice. The bad news is that the plugin "Azure Toolkit for Rider" is not compatible with the new rider. So it would be nice to see the plugin support for rider 2021.3

[2021-09-29 10:33] maartenba commented on #522
Literally just publishing an update :D Expect it to be live in the marketplace in ~1h

[2021-09-29 10:33] maartenba commented on #522
Duplicates #520

[2021-09-29 10:52] vardansargsyan92 commented on #522
@maartenba  thanks a lot :-)

[2021-09-29 12:01] maartenba commented on #522
It's up! :) https://plugins.jetbrains.com/plugin/11220-azure-toolkit-for-rider

[2021-09-29 12:01] #522 closed, assigned to nobody

[2021-10-04 15:05] maartenba opened #523 "Azure Functions debugging support on Apple Silicon / M1 / Rosetta"
See https://youtrack.jetbrains.com/issue/RIDER-67862

[2021-10-04 18:02] maartenba opened #524 "Patch Azure Functions core tools path when on Windows + Chocolatey"
When configuring Chocolatey as the Azure Functions Core Tools path,the path to the actual `func.exe` is not resolved, and instead a shim is used. Target the actual path of the executable to be used,

[2021-10-05 00:33] Krangth opened #528 "web.config appears with strange"
Every time I deploy to Azure app service with this plugin the deployment is always screwed up because the ASPNETCORE_ENVIRONMENT is overridden by the web.config file. Where is this configuration coming from? The web.config file does not exist on my machine. It only exists in the .zip file that is deployed. This causes the application to never be in the correct environment which results in unexpect

[2021-10-05 09:31] maartenba commented on #528
Is this updated in the web.config on your disk, or in the Azure environment? If you happen to have a small example solution where this happens, that would be appreciated.

[2021-10-05 18:44] Krangth commented on #528
There is no web.config on disk.
The web.config only appears in the zip file which is created during the deployment, and then is sent to Azure. I interrupted the deployment to inspect the zip file after it was created. Once deployed, I have to use the KUDO tools to navigate to the web.config file and delete these lines as it overrides all other settings for ASPNETCORE_ENVIRONMENT

[2021-10-06 06:24] maartenba commented on #528
Thanks, couple more questions as I have not yet managed to reproduce this:
* Do you have the value `ExcitingLemur` set anywhere in your project or run configurations?
* Is it a .NET Framework or .NET Core app, and which version?
* If you have a small project I can reproduce this with, that would be very much appreciated

[2021-10-06 06:40] #523 closed, assigned to maartenba

[2021-10-07 12:46] rafek1241 commented on #85
As you can see it's still not there.

[2021-10-07 13:14] megla-tlanghorst opened #529 "Timeout when publishing Azure Web App with long build time"
If I publish a Web App that has a long build (a few minutes) it will timeout:
[code]
If I build it once and build therefore skips some steps and runs quicker the publish is successful (tried it many times and it's quite consistent, I haven't timed it but after a certain time it fails).
It should probably either enforce no timeout or at least be configurable.

[2021-10-07 13:16] maartenba commented on #85
Correct. Haven't thought up reliable magic yet to be able to open up a port from within Azure. There is an out of the box experience that does this for Microsoft's debugger, but we are [not allowed to use the Microsoft debugger](https://visualstudio.microsoft.com/license-terms/mt644895/) unfortunately (article 1).

[2021-10-07 13:18] megla-tlanghorst commented on #529
Just timed it and it's happening after almost exact 3 minutes.

[2021-10-07 13:24] maartenba commented on #529
Thanks for reporting! The 3 minutes is indeed hardcoded. Will close this issue (it is a duplicate of #529) and look into it 👍

[2021-10-07 13:24] #529 closed, assigned to nobody

[2021-10-07 13:26] megla-tlanghorst commented on #529
Did you mean to quote a different issue? Because #529 is this issue.

[2021-10-07 13:35] maartenba commented on #529
Of course, need more coffee... #437 is the one

[2021-10-08 21:18] Krangth commented on #528
Can you define all the places I should look for project/run configurations? I checked in rider, the launchsettings.json, and appsettings.json. I also checked in the .csproj. I did a grepwin on the directory for the term and did not find it either. Sometimes I use ExcitingLemur as an identifier so I may have put it somewhere at some point and have no recollection of it, but I expect it would have s

[2021-10-10 19:47] sdubov opened #531 "Failed to publish Web App"
There is an issue with publishing Core Web App on an existing or a new azure web app. It failed with error:
[code]

[2021-10-10 19:50] sdubov commented on #531
The reason of the failure is running Build task on AWS thread through `invokeLater`.

[2021-10-11 08:14] #437 closed, assigned to maartenba

[2021-10-11 08:14] #531 closed, assigned to sdubov

[2021-10-11 08:59] #524 closed, assigned to maartenba

[2021-10-11 09:01] maartenba commented on #528
I'm guessing the value will be somewhere in your project then. Any chance you can do a "find all" for that value?

[2021-10-12 04:49] Krangth commented on #528
it is not in the project. i searched all files in the root directory. When I run the project locally I do not have that environment. It only appears when I do an azure deployment.

Is it possibly coming from the rider configuration outside of the development directory or from the machine.config or whatever those random files are called from the old days

[2021-10-12 05:57] maartenba commented on #528
It may be in a subdirectory. Can you also try the files in the `.idea` folder?

[2021-10-14 13:52] maartenba opened #535 "Publishing web app does not set correct runtime version in Azure App Service"
When publishing a web app to Azure App Services, the .NET Core 2.1 runtime is configured.

This is caused by a regular expression not matching the new and rebranded .NET runtime identifiers:

[code]

[2021-10-21 14:18] maartenba opened #539 "2021.3 EAP gutter icon and trigger function icon not shown"
See https://youtrack.jetbrains.com/issue/RIDER-68634

[2021-10-21 18:51] #535 closed, assigned to maartenba

[2021-10-28 08:38] MpStyle commented on #271
I have the same issue. Any updates?

[2021-10-28 14:47] maartenba commented on #271
@MpStyle the issue should be resolved in 2021.3 EAP - feel free to give it a try (preview, will be released ~end November)
www.jetbrains.com/rider/eap

[2021-11-03 16:37] #539 closed, assigned to maartenba

[2021-11-03 17:05] kateusz opened #542 "Unable to sign in from Azure Explorer"
I'm not able to sign in to azure from Azure Explorer tab:

`Failed to get details of all cached subscriptions, as get all authorized tenants failed`

Details:

[code]

I've used terminal to sign in using `az login` command and it works fine

[code]

[2021-11-17 13:42] maartenba opened #545 "Azure gutter mark shouldn't be overlapped with formatting options or hammer icons"
https://youtrack.jetbrains.com/issue/RIDER-70842

![image](https://user-images.githubusercontent.com/485230/142211696-3c7eea39-78ac-458f-98e1-68ecf36b897e.png)

[2021-11-17 14:44] #545 closed, assigned to maartenba

[2021-11-19 16:55] waggyza opened #547 "Unable to connect to docker host error using M1 docker"
Whenever I try push and image on my new Macbook pro M1 the plugin keeps giving "Failed to connect docker host: localhost" error. However if I go to IntelliJ services tab, it is able to connect to docker without a problem. I have tried re-installing docker but I keep getting this error on the Mac.

[2021-11-20 10:55] eneance-alorenzi commented on #271
Still not fixed in EAP (Rider)

[2021-11-20 11:23] maartenba commented on #271
What error do you get?

[2021-11-20 11:29] eneance-alorenzi commented on #271
Hello,

Rider version : JetBrains Rider 2021.3 EAP 8, Build #RD-213.5744.78, built on November 13, 2021
Azure toolkit version : 3.50.0.1306-2021.3
(same result on stable versions)

I'm on a M1 macbook pro.

Here's the messages (trying to publish on a Linux Azure WebApp) :

Project ZIP is created: '/private/var/folders/yw/ddml49_56z5cfpj7vgqzzlbm0000gn/T/rider-publish13079648125336562918.zip'
Stop

[2021-11-20 11:30] eneance-alorenzi commented on #271
And the code I'm trying to publish is a .net 5 WebAPI

[2021-11-20 12:06] eneance-alorenzi commented on #271
java.lang.Throwable: Fail publishing ZIP file: java.lang.RuntimeException: Fail publishing ZIP file. Response code: 400. Response message: Bad Request.
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:182)
	at com.microsoft.intellij.runner.webapp.config.runstate.WebAppDeployStateUtil.packAndDeploy(WebAppDeployStateUtil.kt:207)
	at com.microsoft.intellij.runner.webapp.config.runstate.We

[2021-11-20 15:37] maartenba commented on #271
The 400 error means Azure refused the deployment. I'll investigate if we can get a good error message out of it.

Meanwhile by any chance, is the web app configured with deployment via Git or other SCM? Can you try on a newly created web app?

[2021-11-21 14:11] eneance-alorenzi commented on #271
Dear Maarten,

Thanks for your help.

The "old" webApp has always been deployed manually (we only configure CI/CD on non development env), but by different ways : rider on mac (both intel & M1 chip), visual studio on mac (both intel &M1 chip), visual studio on windows... and it worked... I just installed a new macbook pro M1 max, with latest version of all tools... and deployment failed.

As you s

[2021-11-21 15:37] #547 closed, assigned to nobody

[2021-11-21 15:38] waggyza commented on #547
This issue was meant for Azure toolkit for Intellij, hence closing it here.

[2021-11-22 16:14] jtourlamain commented on #514
I logged in via the build-in terminal via "az cli" but nothing with Managed Identity works. Running the same code in Visual Studio works jus fine. I tried device login, but is doesn't open up a browser, nor gave it a device code. In the previous release the device login worked, but you couldn't even copy paste the device code from the pop-up.

[2021-12-06 07:35] maartenba commented on #514
@jtourlamain do you have any repro steps / description of what you are doing/ where so we can try to reproduce the issue?

[2021-12-06 08:11] maartenba opened #548 "Merge upstream into Rider plugin"
Would get us:

* Bugfixes
* Authentication fixes (including those for #514 #542)
* Add Support for Azure Database for PostgreSQL, so that user can create/manage/consume PostgreSQL directly in IDE
* Add SSH Configuration on Azure Virtual Machine instance nodes, so that user can add Azure VM to SSH Configurations by one click
* https://github.com/JetBrains/azure-tools-for-intellij/issues/676
* Fixes

[2021-12-06 15:20] jtourlamain commented on #514
@maartenba I open up a powershell core console. Do a "az login", browser pops up, and I login. I receive all my subscriptions. Next I open up Rider, go to the Azure plugin (cf your screenshot above) and the result is that "Azure CLI (Not logged in) is disabled.

![2021-12-06_15-47-38](https://user-images.githubusercontent.com/4492271/144868159-4af681e5-093f-4f7b-a33d-997c2edbbee1.png)

I have the

[2021-12-06 17:08] maartenba commented on #514
I'm assuming `az` is in your PATH and not just the PowerShell profile, right?

[2021-12-06 19:38] jtourlamain commented on #514
I didn't thought of it, but yes, it is in my PATH (cf screenshot), and pc has been restarted

![2021-12-06_20-32-18](https://user-images.githubusercontent.com/4492271/144910895-1032a1c8-06a2-4541-a875-ad3f492c3f95.png)

[2021-12-08 13:37] maartenba commented on #514
Thanks! Did some digging into Microsoft's auth libraries that we use. It would be helpful to check a few more things on your machine.

1. Is there an environment variable `AZURE_CONFIG_DIR` set? (probably not, but trying to rule out things)
2. In your user home directory, is there a `.azure/azureProfile.json` and a `.azure/accessTokens.json` file after logging in using `az login`?

If 1 is not pre

[2021-12-14 07:50] maartenba opened #550 "Don't show again does not make the warning go away"
![image](https://user-images.githubusercontent.com/485230/145955268-ca7ed362-ae23-4fe7-8052-42ce39f1d4b8.png)

[2021-12-14 11:15] maartenba opened #552 "Bump version numbers in AzureCoreToolsMissingNupkgInstaller.kt"
https://github.com/JetBrains/azure-tools-for-intellij/blob/bf3e010eeb7d95afcc288395b3a499cf4f75b837/PluginsAndFeatures/azure-toolkit-for-intellij/rider/src/org/jetbrains/plugins/azure/functions/AzureCoreToolsMissingNupkgInstaller.kt#L61

[2021-12-14 11:53] maartenba commented on #514
Thanks to @jtourlamain 's email, managed to trace the root cause.

Right now, when opting for Azure CLI login:
* [`AzureCliAzureManager` calls `AzureAuthHelper.getAzureCLICredential`](https://github.com/JetBrains/azure-tools-for-intellij/blob/213/Utils/azuretools-core/src/com/microsoft/azuretools/sdkmanage/AzureCliAzureManager.java#L106) to check if we are logged in
* This method checks for the ex

[2021-12-14 12:24] maartenba commented on #514
Related issue: https://youtrack.jetbrains.com/issue/RIDER-71312

[2021-12-14 16:23] #550 closed, assigned to maartenba

[2021-12-14 16:23] #552 closed, assigned to maartenba

[2021-12-18 10:19] MpStyle commented on #271
Still not fixed in JetBrains Rider 2021.3.1 and Azure Toolkit for Rider 3.50.0.1312-2021.3.
I'm trying to publish is a .net 5 WebAPI.

The error is the same:
_Collecting 'XXX' project artifacts...
Creating 'XXX' project ZIP...
Project ZIP is created: 'XXX/rider-publish12661628730084922865.zip'
Stop Web App 'XXX'...
Publishing ZIP file. Attempt 1 of 3...
Publishing ZIP file. Attempt 2 of 3...
Publi

[2021-12-18 20:05] maartenba commented on #271
@MpStyle is this for an existing web app that had deployments before? Is this the case for a new web app as well?

[2021-12-21 13:24] DetonatorB commented on #271
I still see this too. Rider 2021.3.1, Azure Toolkit for Rider 3.50.0.1312-2021.3.
It's very, very frustrating to have to resort to Visual Studio again just for publishing this app.
The Azure Web App I am publishing to is an existing WebApp on Linux and in a slot.
I cannot easily create a new slot because of other users, scripts and a lot of configuration work.

**What do you need from me to diagno

[2021-12-22 07:59] maartenba commented on #271
@DetonatorB is this for an existing web app that had deployments before? Is this the case for a new web app as well?

We do a ZIP publish (not web publish like VS) where the API Azure offers returns a 400 in some cases where the site already has a deployment with a different mechanism.

[2021-12-22 10:37] DetonatorB commented on #271
@maartenba Yes, this is an existing application that has been updated many times, using Visual Studio 2019. Because this is a aspnet core web app running on the Linux Azure Web App offer, VS2019 also uses Zip Deploy BTW (see below).
I will try deploying to a new Web App later this week, but AFAICS other have reported this *does* work with Rider, but in turn inhibits updates by VS.

Visual Studio 2

[2021-12-26 14:04] MpStyle commented on #271
it is an existing web app that has deployed before

[2021-12-29 10:02] maartenba commented on #271
I have not yet been able to reproduce the issue, but have an experimental build of the plugin that _may_ resolve the issue (based on the hint in https://github.com/microsoft/azure-pipelines-tasks/issues/8657#issuecomment-432530739 and what the Kudu service URL looks like here https://github.com/projectkudu/kudu/blob/master/Kudu.Services/Deployment/PushDeploymentController.cs#L367).

@MpStyle @Deto

[2021-12-30 17:21] MpStyle commented on #271
@maartenba it works! Thank you so much!
What was the problem?

[code]

[2021-12-30 23:25] DetonatorB commented on #271
@maartenba Yep, that did it. You're gold. Thank you for fixing this. This solves *so* many problems.
And many thanks to @vincent1173 as well for noticing the errant content types.

[2021-12-31 08:25] maartenba commented on #294
Been doing some digging into how VS does things:
* Based on `AzureFunctionsVersion`, the tools version is determined
* Tools are then matched to the feed URL described in https://github.com/Azure/azure-functions-tooling-feed. The matching tools version is downloaded to `%APPDATA%\azurefunctionstools\` and used to launch the functions application
* Some more background in https://newbedev.com/visua

[2021-12-31 08:30] maartenba commented on #271
Thanks @DetonatorB and @MpStyle for testing!

The issue was really this - https://github.com/microsoft/azure-pipelines-tasks/issues/8657#issuecomment-432530739 - the content type was not specified causing some of the Azure API versions to fail on upload. The fix is this fantastic one-liner :D https://github.com/JetBrains/azure-tools-for-intellij/pull/554/files#diff-5cf117ae2c17f91b8a7953b056707c14

[2021-12-31 16:34] SeanFeldman commented on #294
![image](https://user-images.githubusercontent.com/1309622/147832546-f2e84088-d5e2-4271-989d-435f675144bb.png)

[2021-12-31 16:35] maartenba commented on #294
Also should cut down on social media 😅

[2022-01-05 12:37] maartenba commented on #294
Been thinking about this a bit, and considering the following in terms of design. What do you think, folks?

## Proposed behaviour

1. By default, Rider would self-manage Azure Functions core tools based on the `AzureFunctionsVersion` MSBuild property for your project. It will always download the latest version for a specific tag from the [tooling feed](https://functionscdn.azureedge.net/public/cl

[2022-01-06 04:12] SeanFeldman commented on #294
The proposed approach is quite aligned with what I'd need for my projects.

Whatever causes Rider to be less laggy during start-up.

I like that but recently $HOME starts to feel like a kitchen sink. Rather than seen `$HOME/RiderAzureFunctions` I'd be more appreciative if Rider would keep it tidy with something like `$HOME/Rider/AzureFunctions`, allowing future things to be stored under `$HOME/Rid

[2022-01-06 11:58] maartenba commented on #294
Regarding "all options", the question is whether the Azure Functions Core Tools feed's `-*` versions should be configurable or not... Here's the current list:

![image](https://user-images.githubusercontent.com/485230/148379740-ab6a0727-e12f-4c67-a0c1-0459a1e77705.png)

[2022-01-07 15:13] NeskireDK commented on #515
This would be greatly appreciated.

[2022-01-10 10:55] maartenba opened #555 "Functions: Detect default vs. isolated worker runtime based on project references"
See https://youtrack.jetbrains.com/issue/RIDER-72960

When no `local.settings.json` can be found to determine the default vs. isolated worker runtime, work out the runtime based on package references.
* `<PackageReference Include="Microsoft.NET.Sdk.Functions" ....>` -> default worker
* `<PackageReference Include="Microsoft.Azure.Functions.Worker" ....>` -> isolated worker

Related to #294 and http

[2022-01-20 14:59] Robar666 commented on #253
Hi,

it seems that I've encountered the exact same bug today. Is just created a plain Azure Function App in our subscription and  then created a solution with the plain HTTP trigger template.

When I tried to upload it to Azure with Rider, I've received the exact [same output](https://github.com/JetBrains/azure-tools-for-intellij/issues/253#issue-506368374) (`Deploy succeeded.`), but (in contrast

[2022-01-21 07:16] maartenba commented on #253
A new issue with details on environment (Rider and plugin version), output, and any other info you have is definitely welcome. Will then see if/what other logs would be helpful. Thanks!

[2022-01-24 07:18] maartenba opened #560 "Template Engine updates for 2022.1"
Template Engine (MS library which Rider uses for project templates) was updated to latest 6.x version in net221 branch.

Basic changes:
1) There is no template engine package anymore. Reference TemplateEngine.csproj and corresponding assembly instead.
2) `TemplateInfo` -> `ITemplateInfo`
3) `ITemplateInfo.GroupIdentity` is nullable
4) Some namespaces were changed

[2022-01-24 20:54] maartenba opened #563 "Resolve RiderSDKVersion from riderRD-* path"

[2022-01-24 21:02] maartenba opened #564 "Target 2021.1 EAP"

[2022-01-25 17:58] agarbutt opened #566 "Cannot create new Azure Function with Rider on MacOS"
I have the `Azure Functions Core Tools` installed via `brew`.
In the settings dialog, the latest version of the functions tools are recognized (and match).
I *only* have .NET 6 SDK installed.

I have the latest Rider (info below), launched via the latest Toolbox [JetBrains Toolbox 1.22.10970, macOS 11.6.2].
I have Azure Toolkit for Rider [3.50.0.1314-2021.3] installed.

The Rider dialog for creati

[2022-01-25 18:16] maartenba commented on #566
This should be fixed with https://github.com/JetBrains/azure-tools-for-intellij/pull/556 (2022.1 at some point)

For now, can you try grabbing the tools with Rider I stead of Brew? (Or point to the installation path where Brew downloads this specific tools version?)

[2022-01-25 18:29] agarbutt commented on #566
Thanks for the quick reply. I am looking forward to the updated UX.

For now, those that may stumble across this.... In my case, using the `brew --prefix azure-functions-core-tools@4` gave me a usable path for Rider to find the tools.

[2022-01-25 18:39] agarbutt commented on #566
I will add, that however, the generated project complains of an `Invalid combination of TargetFramework and AzureFunctionsVersion is set.`

This is an issue with the template provided by the `azure-functions-core-tools`.
It has been corrected in  [Azure Functions Core Tools Issue #2881](https://github.com/Azure/azure-functions-core-tools/issues/2881)

[2022-01-31 10:24] #560 closed, assigned to maartenba

[2022-01-31 10:24] #563 closed, assigned to maartenba

[2022-01-31 10:24] #564 closed, assigned to maartenba

[2022-02-11 09:05] maartenba opened #569 "Remove potential log4j usages"
See https://blog.jetbrains.com/platform/2022/02/removing-log4j-from-the-intellij-platform/

[2022-02-11 10:15] jimmyville commented on #514
Any progress on this issue? I'm new to Rider on MacOS but hitting the same problem.

[2022-02-11 10:52] maartenba commented on #514
For now, device login is the way to go.

[2022-02-24 18:47] #294 closed, assigned to maartenba

[2022-02-24 19:11] SeanFeldman commented on #294
<img src="https://c.tenor.com/cKf7FeLja6cAAAAC/cant-wait-excited.gif"/>

[2022-03-07 05:43] Derich367 commented on #514
Are there any updates regarding this issue?
Device login doesn't work if you have a multi tenant account, where you have to select the tenant before the login.

[2022-03-07 16:23] maartenba opened #571 "Azure Functions: Support NCrontab 5-field expressions"
Support NCrontab 5-field expressions (prepend "0" in validation when only 5 fields are provided)

See discussion at https://twitter.com/nthonyChu/status/1500869012883795972 and https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#ncrontab-expressions

[code]

[2022-03-08 06:14] maartenba commented on #566
New UX is available in 2022.1 EAP, please give it a try and see how it goes for you.

[2022-03-29 09:43] maartenba opened #577 "Do not automatically register resource providers in all subscriptions"
After digging through Microsoft's Azure libraries for Java, which we use under the hood, we found they are registering several resource providers: https://github.com/microsoft/azure-tools-for-java/pull/5014/files#diff-d5f0ce350c78dea87e2fc4c8a423d04f1c88a70c4365dc9422f24ff324ebeccbR14

This is of course not ideal, and it would be better to prompt the user to register specific resource providers wh

[2022-03-29 18:23] alexandrunechifor opened #578 "Importing Azure function into IntelliJ via Maven results in broken state project"
Importing a Maven(Java) azure function generated with IntelliJ into another instance of intelliJ results in a broken state for the imported project as the function module is not found in run configurations(error: please specify a module).

Steps to reproduce
1)generate an Azure functions project with IntelliJ
2)remove .idea and .iml files - this often happens when committing to git - not everyone

[2022-03-29 19:25] maartenba commented on #578
Moved it over to Microsoft's upstream (we are just the Rider fork)

[2022-03-29 19:25] #578 closed, assigned to nobody

[2022-03-30 10:44] maartenba opened #579 "SSLHandshakeException connecting to Azure Cloud Shell"
We need to switch to using the IDEA trust manager.

[2022-04-03 05:18] sshquack commented on #548
@maartenba Please update Azure toolkit for Rider. I opened an issue there https://github.com/microsoft/azure-tools-for-java/issues/6525 for a feature which is already implemented in Intellij IDEA. It would be great to release a new update if possible.

[2022-04-06 13:30] furkankurt1 commented on #85
I pay tens of hundreds of euros for this product. and have to open Visual studio to diagnose the issue. Shame! We need this. You have done a fantastic job. But need more.

[2022-04-06 22:21] anev-auror commented on #514
When will this be fixed? I have a multi tenant account and cannot login.

[2022-04-07 12:27] maartenba commented on #514
We're still investigating the merge from Microsoft's upstream repository. There are quite a few things that need to be verified and validated, and we can't give an accurate ETA.

For now, device login is the way to go, or downgrading the Azure CLI version.

[2022-04-08 06:18] maartenba opened #582 "Azure Functions: Wrong version of core tools is downloaded on M1"

[2022-04-13 11:28] maartenba commented on #566
Changes are in the 2022.1 EAP versions, feel free to give it a try (unless you're on an M1, then #583 is still pending)

[2022-04-13 16:37] #571 closed, assigned to maartenba

[2022-04-13 17:20] #579 closed, assigned to maartenba

[2022-04-13 17:22] #582 closed, assigned to maartenba

[2022-04-14 14:55] maartenba opened #585 "Azure Functions: choose OS (Windows/Linux) when creating new function app"
Add the ability to choose OS (Windows/Linux) when creating new function app

[2022-04-14 18:07] maartenba opened #586 "Azure Functions: Set correct worker runtime when publishing"
Azure Functions: Set correct worker runtime when publishing. Now always sets `dotnet`, even for isolated worker instances.

[2022-04-18 23:30] agarbutt commented on #566
As of 2022.1 RC, I can create Azure Function Apps v4 correctly.
However, I cannot seem to figure out how to create Azure Function Apps based on v3.
What am I missing?

[2022-04-19 05:52] maartenba commented on #566
Looks like the V3 and V4 templates have the same identifier, and hence only the new version is displayed. I have opened a PR with the Functions team here - https://github.com/Azure/azure-functions-templates/pull/1195

[2022-04-19 09:35] #585 closed, assigned to maartenba

[2022-04-19 09:35] #586 closed, assigned to nobody

[2022-04-22 06:59] maartenba opened #591 "Web apps: Publish configuration throws exception"
[code]

[2022-04-23 08:44] maartenba commented on #591
Error was specific to a subscription. Closing for now.

[2022-04-23 08:44] #591 closed, assigned to maartenba

[2022-04-25 12:07] maartenba commented on #566
Going to close this issue as v4 works properly now. Let's hope https://github.com/Azure/azure-functions-templates/pull/1195 gets accepted.

[2022-04-25 12:07] #566 closed, assigned to maartenba

[2022-04-25 12:08] maartenba commented on #528
Could not reproduce this issue.

[2022-04-25 12:08] #528 closed, assigned to nobody

[2022-04-26 20:21] Krangth commented on #528
I apologize for not replying. I did eventually figure it out though I don't fully remember all the details. I believe it was that my machine had an environment variable named `EnvironmentName` and even though the official documentation will say to use `ASPNETCORE_ENVIRONMENT` .net will actually automatically read from `EnvironmentName` as well during publish. I don't think I ever found any documen

[2022-04-27 17:45] dpkblg commented on #85
2022, feature still not here. Disappointing :(

[2022-05-04 09:59] DenisIvanovIvanov commented on #85
Still not here :)

[2022-05-04 13:15] maartenba commented on #85
Nothing in Azure has changed to make this possible :-( https://github.com/JetBrains/azure-tools-for-intellij/issues/85#issuecomment-937782516

[2022-05-07 12:16] triforcely commented on #85
@maartenba was there any effort from JetBrains to talk with Microsoft/Azure about this?